<% @comments.each do |comment| %>

  <% unless User.find_by_id(comment.user_id).nil? %>
    <div class="blog_div">
      <div class="small_thumb"> 
      	<%= image_tag comment.user.pic.url(:thumb), :width => 50, :height => 40 if comment.user.nickname.present? %>
      </div>
      <div class="blog_right" style="width:315px;float:left;margin:0;">
       <%= link_to comment.user.nickname, user_path(comment.user) ,:class => "redlink" %> <br>
        <%= comment.body %>
        <% if comment.created_at > Time.now.beginning_of_day %>
               <%="#{time_ago_in_words(comment.created_at)} ago"%>
               <% else %>
             <li><%= comment_logbook.created_at.strftime("%b %d, %Y") %></li>
          <% end %>
        <%= link_to (image_tag "/assets/delete.png"),carprofiles_comment_destroy_path(:id => comment),:method => :delete, :confirm => "Are You Sure?" %>
      </div>

    </div>
    <% end %>
<% end %>