<% @comments.each do |comment| %>
<% unless User.find_by_id(comment.user_id).nil? %>
    <div class="blog_div">
      <div class="small_thumb"> 

        <% unless comment.user.pic? %>
           <img alt="" src="/assets/thumb_profile.jpg" style="float:left" style="float:left" height="40" width="50">
        <% else %>
      	<%= image_tag comment.user.pic.url(:thumb), :width => 50, :height => 40  %>
        <% end %>

      </div>
      <div class="blog_right" style="width:300px;float:left;margin:0;">
    
       <%= link_to comment.user.nickname, user_path(comment.user) ,:class => "redlink" %> <br>
        <%= comment.body %>
      
      </div>
      <div style="width:100px;height:auto;float:left;">
     <% if  (comment.user == current_user) || (@carprofile.user == current_user)  %>
        <%= link_to (image_tag "/assets/delete.png"),carprofiles_comment_destroy_path(:id => comment),:class => "close2" ,:method => :delete, :confirm => "Are You Sure?" %>
        <% end %>
         <div class="time">
        <% if comment.created_at > Time.now.beginning_of_day %>
               <%="#{time_ago_in_words(comment.created_at)} ago"%>
               <% else %>
             <li><%= comment.created_at.strftime("%b %d, %Y") %></li>
          <% end %>
        </div>
      </div>

    </div>
    <% end %>
<% end %>