
  <%#= javascript_include_tag "carprofiles" %>
  <%= javascript_include_tag "prototype" %>

<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
  <div class="middle">
    <div class="container_20">
  <div class="grid_16" style="margin:10px auto; float:none; display:block">
     <div class="box">
<%= form_for @carprofile,:html => { :multipart => true } do |f| %>
   <% if @carprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carprofile.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @carprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="row">
  <%= f.fields_for :carprofile_photos do |builder| %>
    <%= render "carprofile_photo_fields", :f => builder %><br/>

  <% end %>
 <p><%= link_to_add_fields "Add Image", f, :carprofile_photos %></p><br/>
 </div>

 <p><%= select "carprofile",  :car_make_id, CarMake.all.map {|s| [s.name, s.id]},{:prompt => "Select Carmake"}, :onchange => "#{remote_function(:url => {:controller =>"carprofiles", :action => "update_model"}, :with => "'update_model='+value",:loading => "Element.show('loader');",:complete => "Element.hide('loader');")}" %>
   <%= image_tag("/assets/loadingg.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader",
                    :style =>"display: none;" ) %> </p>

  <div id="car_make_id">
   <%= render "carprofiles/update_model" %> 
  </div>

  
  <div>
    <p> If your car make or car model not present please contact <%= link_to "Inform admin", new_admincontact_path %> </p>
  </div>


  <div class="row">
    <%= f.label "Year of purchase" %><br />
    <%= f.date_select :year_of_purchase ,:order => [:year], :start_year => 1970 , :end_year => Date.today.year%>
  </div>

  <div class="row">
    <%= f.label "What kind of this car" %><br />
    Currently own<%= f.radio_button :whatkindofcar, "currently_own" %>
    Previous Car<%= f.radio_button :whatkindofcar, "previous_car" %>
  </div>
  <br/>
  <p><strong>/!\ Attention ! Photos will pass moderation.Cars with other people,as well as brand,terrible quality,or indecent photographs will be blocked by the moderator. Do not upload  photos from car magazines or someone else’s car.Please follow Forum Rules.  
  </strong></p>
  
  <div class="row">
    <%= f.label "Car Description" %><br />
    <%= f.text_area :car_description ,:rows=>10, :cols=>200,:style=> "width: 600px;"%>
  </div>

  <div class="row">
    <%= f.label "Power" %><br />
    <%= f.text_field :power %>
  </div>

<div class="row">
    <%= f.label "Engine Displacement"%><br />
    <%= f.collection_select :engine_id, Engine.select("DISTINCT(engine_displacement)") , :id,:engine_displacement, :prompt => "Select engine"%>
</div> 
  <div class="row">
    <%= f.label "Do you sell this car" %><br />
    Yes <%= f.radio_button :sellthiscar, "yes" %>
    No<%= f.radio_button :sellthiscar, "no" %>
  </div>

  <div class="row">
    <%= f.label "VIN" %><br />
    <%= f.text_field :VIN %>
  </div>

  <div class="row">
    <%= f.label "License Plate" %><br />
    <%= f.text_field :license_plate %>
  </div>

  <%= f.hidden_field :user_id,:value => current_user.id %>
  
  
  <div class="actions">
    <%= f.submit :class => "submit_btn_new" %>
  </div>
<% end %>


</div>
</div>
</div>
</div>  
