<div class="middle">
		
		<div class="container_20" style="background:#333; margin-bottom:10px">
		
		   <%= render 'shared/carousel' %>
		
		
				<div class="container_20">
				
				
				<div class="grid_20 title">
		
	<div style="width:40%; float:left"><h4>My Guests</h4></div>
     </div>
		
		
		
		<div class="grid_20">
		
		
		<% @carprofile.impressions.each do |imps|%>

		 <% if User.find_by_id(imps.user_id).visibility_status  == false%>

		  <div class="message"> 
		
		<ul class="action">
			<% if imps.created_at > Time.now.beginning_of_day %>
			<%="#{time_ago_in_words(imps.created_at)} ago"%>
			<% else %>
	          <li><%= imps.created_at.strftime("%b %d, %Y") %></li>
	          <% end %>
		</ul>
		<img src="/assets/thumb_profile.jpg" alt="">
		
		<div class="mail_content" style="width:442px">
		<div>Invisible Member</div>
		
		<div></div>
		<div style="margin:0 0 5px 0"></div>
		</div>

		</div>
	<%else%>
		<div class="message"> 
		
		
		<% if User.find_by_id(imps.user_id).pic.blank? %>
		<img src="/assets/thumb_profile.jpg" alt="">
		<%else%>
        <div class="thumb"><%=image_tag(User.find_by_id(imps.user_id).pic.url(:thumb) ,:width => 50, :height => 50) %></div>
        <% end %>
		<div class="mail_content" style="width:442px">
		<div><a href="<%=user_path(imps.user_id)%>" class="bluelink bold"><%= "#{User.find_by_id(imps.user_id).first_name}"rescue nil %></a></div>
		
		<div><%= truncate(User.find_by_id(imps.user_id).about, :length => 100)  rescue nil %></div>
		<div style="margin:0 0 5px 0 "class= "bluelink bold"><%= "#{User.find_by_id(imps.user_id).location}"rescue nil %></div>
		<ul class="action">
			<strong>
				<% if imps.created_at > Time.now.beginning_of_day %>
				   <%="#{time_ago_in_words(imps.created_at)} ago"%>
				<% else %>
		           <li><%= imps.created_at.strftime("%b %d, %Y") %></li>
		        <% end %>
		   </strong>
	    </ul>
		</div>

		</div>
		
          <%end%>
        <%end%>
		<%#= will_paginate @carprofile.impressions %>
		</div>
		
		
		
		
				
		
				
		
		</div>
		


  
		
		</div>
		

</div>

