<div class="middle">
  <div class="container_20">
    <div class="grid_10" style="margin:10px auto; float:none; display:block">
      <h1><b>My Cars</b></h1>
      <div class ="box">
        <div style="width: 100%; text-align: right;"><a href="/carprofiles/new" style="margin:0 float:right;" class="compose">+Add A New Car</a></div>
   
        <table cellpadding=5>
	      <tr>
	      	<th></th>
		    <th>Car Make</th>
		    <th>Car Model</th>
		    
		  </tr>

		 <% @carprofiles.each do |carprofile| %>
		  <tr>
		  	<td>
			    <%unless carprofile.carprofile_photos.blank?%>
	              <div class = "thumb"><%=link_to image_tag(carprofile.carprofile_photos.first.photo.url(:thumb) ,:width => 100, :height => 60), carprofile_path(carprofile) rescue nil%></div>
	            <%else%>
	              <div class = "thumb"><a href="<%= carprofile_path(carprofile)%>"><img src="/assets/index.jpeg" alt=""  width="100" height="60"></div>
	            <%end%>
            </td>
			<td><a class="bluelink" href="<%= carprofile_path(carprofile)%>"><%=carprofile.car_make.name rescue nil%></a></td>
			<td><%= carprofile.car_model.name  rescue nil %></td>
		 	<td style="text-align: center !important;"><%= link_to (image_tag "new-24.png" ,:height => "22", :width => "20") , edit_carprofile_path(carprofile), :title => "Edit Car" %></td>
    		<td style="text-align: center !important;"><%= link_to (image_tag "delete.png",:height => "20" ),carprofile_path(carprofile) ,:method => :delete , :data=> { :confirm=> 'Are you sure?' }, :title => 'Delete Car' %>
			  </tr>
		 <% end %>

		</table>
	  </div>
    </div>
  </div>
</div>
