

</script>


<div class="container_20">
    <div class="middle">
    <div class="container_20" style="background:#333; margin-bottom:10px">
      <%= render 'shared/carousel' %>
    
      </div>
    
    
        <div class="container_20 profile_bg">
        
        
        <div class="grid_3">
        <div class="profile_image">
        <div class="gift">
       
          <%= image_tag @record.egift.image ,:width => 45 rescue nil %></div>
          
          <%= image_tag @carprofile.carprofile_photos.first.photo.url(:profile) rescue nil %>
         
        </div>
  
  
  <ul class="tab_menu2">


    <% if current_user.id == @carprofile.user_id %>     
    <li><%= link_to "Subscribers",:action=>"subscar_count",:id=>@carprofile.id %>
      <% end %>
    </li>
    <li> <span id="like_count" class="count2"><%= @counts %></span> <%= link_to ("Like+") ,like_car_carprofiles_path(:id => @carprofile.id),:method => "post",:remote => true,:id => "like_car" %>
   </li>
     <li><a href="#" class="topopup" val= "<%=@carprofile.id %>">Show Likes</a>
  </li>
    <li><%= link_to "Send Gift",egifts_path(:carprofile_id => @carprofile.id) %></li>

    <% if current_user.id == @carprofile.user_id %>  
    <li><%= link_to (@carprofile.spotlighted ? "Remove Spotlight -": "Add to Spotlight +"),spotlight_carprofiles_path(:id=>@carprofile.id),:method => "post",:remote=>"true",:id=>"spotlight"%></li>
    <% end %>
    
    <li><a href="#"><img alt="" src="/assets/star2.png"></a></li>
<% unless current_user.id == @carprofile.user_id %>
    <li><%= link_to (Subscriber.subscribes?(current_user,@carprofile) ? "Unsubscribe": "Subscribe"),subscribe_car_carprofiles_path(:id=>@carprofile.id),:method => "post",:remote => true,:id=>"subscribe_car"%></li><% end %>

  </ul>
  
  <div>
 
  
  </div>
  </div>
  
          <div class="grid_7">
          
          <h1><%= @carprofile.car_model.name rescue nil %><img src="/assets/online.png" alt=""></h1>
    
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="profile_col1">Car Make</td>
    <td class="profile_col2"><%= @carprofile.car_make.name%></td>
  </tr>
   <tr>
    <td align="left" valign="top" class="profile_col1">Car Model</td>
    <td class="profile_col2"><%= @carprofile.car_model.name%></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Manufacturing Year</td>
    <td class="profile_col2"><%= @carprofile.manufacturing_year %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Year of Purchase</td>
    <td class="profile_col2"><%= @carprofile.year_of_purchase %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">What kind of car of this</td>
    <td class="profile_col2"><%= @carprofile.whatkindofcar %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Power</td>
    <td class="profile_col2">  <%= @carprofile.power%></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Engine Displacement</td>
    <td class="profile_col2"><%= @carprofile.engine.engine_displacement rescue nil%>
</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">License plate</td>
    <td class="profile_col2">  <%= @carprofile.license_plate%>
 </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Do you sell this car</td>
    <td class="profile_col2">  <%= @carprofile.sellthiscar %>
</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">VIN</td>
    <td class="profile_col2">  <%= @carprofile.VIN%>
</td>
  </tr>
</table>

  
  
  
  </div>
  
  
  
  <div class="grid_10">
    
  <div><strong>Car Description</strong></div>
  
  <div class="car_description">
  
    <p>  <%= @carprofile.car_description.html_safe %></p>
  </div>
  </div>

    
    </div>
    
    
    
    
    
    
    
    <div class="container_20">
        
        
        <div class="grid_20 aboutme">
    
  
  <h4>My Cars</h4>
  
  <div id="mainwrapper">
    <% for carprofile in @carprofile.carprofile_photos %>



    <div id="box-1" class="box1">
      <a href="#inline1" id="various1">
      
     <%= image_tag carprofile.photo.url(:thumb)  %>
        <span class="caption simple-caption">
          <p><a href="#inline1" id="various1">Simple Caption</a></p>
        </span>
    </div>
    
<% end %>

    
    
    

    
  </div>

  
  </div>


<div class="grid_20 aboutme">
    
  
  <h4>Egifts</h4>
  
  <div id="mainwrapper" style="float:left;text-align:left">
   
   <h4>Public :</h4>
    <% @public.each do |g|%>

  <div class="message">

 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" ><%= g.sender.email %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url ,:class =>"giftimage" %> </td>
    </tr>
</table>

  
  </div>
  <% end %>
  <br><br>
  
  <h4>Anonymous :</h4>

     <% @anon.each do |g|%>

  <div class="message">
 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" ><%= g.sender.email %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url ,:class =>"giftimage" %> </td>
    </tr>
</table>

  
  </div>
  <% end %>

 <br><br>
  
  <h4>Personal :</h4>

     <% @personal.each do |g|%>

  <div class="message">
 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" ><%= g.sender.email %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url ,:class =>"giftimage" %> </td>
    </tr>
</table>

  
  </div>
  <% end %>
  
  

    
  </div>

  
  </div>

  <div class="grid_20 aboutme">
  <h4>My Blogs</h4>
  
  <div class="blog_div">

    <a href="#" class="redlink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida   Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a href="#" class="bluelink">Read More
    </a>
    </div>
    
    <div class="blog_div">

    <a href="#" class="redlink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. consectetur enim. lit.  Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. consectetur enim. lit.  Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a href="#" class="bluelink">Read More
    </a>
    </div>
    
    </div>
    
    <div class="grid_20 aboutme">
    
       <h4>Comments</h4>
        <div class="small_thumb"><img style="float:left" alt="" src="/assets/small_thumb.png"></div>
        <textarea class="comment_tf2" rows="4" name="textarea"></textarea>
        <div style="float:right; margin:10px 0; text-align:left; width:100%">
          <input type="button" value="Done" style="margin-left:100px" class="submit_btn" name="button">
        </div>
        <div class="blog_div">
          <div class="small_thumb"><img style="float:left" alt="" src="/assets/small_thumb.png"></div>
          <div class="blog_right"> <a href="#" class="redlink">John Smith </a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravidaelit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida </div>
        </div>
        <div class="blog_div">
          <div class="small_thumb"><img style="float:left" alt="" src="/assets/small_thumb.png"></div>
          <div class="blog_right"> <a href="#" class="redlink">John Smith </a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida </div>
        </div>
        <div class="blog_div">
          <div class="small_thumb"><img style="float:left" alt="" src="/assets/small_thumb.png"></div>
          <div class="blog_right"> <a href="#" class="redlink">John Smith </a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida </div>
        </div>
        <div class="blog_div">
          <div class="small_thumb"><img style="float:left" alt="" src="/assets/small_thumb.png"></div>
          <div class="blog_right"> <a href="#" class="redlink">John Smith </a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida </div>
        </div>
     
</div>
  
  
  
          

    
    </div>
    


  
    
    </div>
    

</div>




<script type="text/javascript">
$(document).ready(function(){
$("a.topopup").click(function(){
  $.ajax({
     type: "GET",
     url: "/carprofiles/like_count",
     data: {"id" : $(this).attr("val")},
     success: function(data){
   
     },
     dataType: "script"
   });
})
});
</script>



 



  

    
    <div id="toPopup"> 
      
        <div class="close"></div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
    <div id="popup_content"> 
 
     <span id="a.topopup" class="like_data"></span>
      <!--your content start-->
           
        </div> <!--your content end-->
    
    </div> <!--toPopup end-->
    
  <div class="loader"></div>
    <div id="backgroundPopup"></div>






  
  




