
  <style type="text/css">

a.morelink {
  text-decoration:none;
  outline: none; color:#00487A; text-decoration:none; font-weight:bold;
}
.morecontent span {
  display: none;

}

.blog_div {
     border-bottom: 1px dotted #B7B7B7;
    float: left;
    padding: 10px 0;
    width: 100% !important;
}
  
  </style>

<div class="container_20">
  <div class="middle">
    <div class="container_20" style="background:#333; margin-bottom:10px">
      <%= render 'shared/carousel' %>
    </div>
    
    <div class="container_20 profile_bg">
      <div class="grid_11">
       <div class="car_profile_image">
        <div class="gift" style="margin:0 0 0 352px"><%= image_tag @record.egift.image ,:width => 128, :height => 128 rescue nil %></div>
         <%= image_tag @carprofile.carprofile_photos.first.photo.url ,:width => 530,:height => 240  rescue nil %>   
       </div>
       <div style="float:left; margin:10px 0">
        <ul class="tab_menu">
         <% if current_user.id == @carprofile.user_id %>     
            <li><%= link_to "Subscribers",:action=>"subscar_count",:id=>@carprofile.id %></li>
         <% end %>
         <li><%= link_to ("Like+") ,like_car_carprofiles_path(:id => @carprofile.id),:method => "post",:remote => true,:id => "like_car" %>
         </li>
         <li><a href="#" class="topopup" val= "<%=@carprofile.id %>">Show Likes</a>
         </li> 
        <li><%= link_to "Send Gift",egifts_path(:carprofile_id => @carprofile.id) %></li>
        <% unless current_user.id == @carprofile.user_id %>  
          <li><%= link_to (@carprofile.spotlighted ? "Remove Spotlight -": "Add to Spotlight +"),spotlight_carprofiles_path(:id=>@carprofile.id),:method => "post",:remote=>"true",:id=>"spotlight"%></li>
        <% end %>
        <li><%= link_to "Favourite",{:controller => :favourites, :action => :mycarprofile, :user_id => current_user.id }%></li>
        <%if current_user.id == @carprofile.user_id%>
        <li><%= link_to "My Guest",guest_user_carprofiles_path(:id => params[:id])%></li>
        <%end%>
        <% unless current_user.id == @carprofile.user_id %>
          <li><%= link_to (Subscriber.subscribes?(current_user,@carprofile) ? "Unsubscribe": "Subscribe"),subscribe_car_carprofiles_path(:id=>@carprofile.id),:method => "post",:remote => true,:id=>"subscribe_car"%></li>
        <% end %>
        </ul>
    </div>
    
    
    <div style="float:left; width:100%"><strong>Car Description</strong></div>
    <div class="car_description" style="float:left;" >
    <div class="comment more">
      <%= @carprofile.car_description.html_safe %>  
     </div>
    </div>
  </div>
  
  
        <div class="grid_9">
    
    
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr><p class="<%= rate_count(@carprofile.id) rescue nil %>" id ="star_rating"></p></tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Car Make</td>
    <td class="profile_col2"><%= @carprofile.car_make.name%></td>
  </tr>
   <tr>
    <td align="left" valign="top" class="profile_col1">Car Model</td>
    <td class="profile_col2"><%= @carprofile.car_model.name%></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Manufacturing Year</td>
    <td class="profile_col2"><%= @carprofile.manufacturing_year %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Body Index</td>
    <td class="profile_col2"><%= @carprofile.body_index.bodyindex rescue nil %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Year of Purchase</td>
    <td class="profile_col2"><%= @carprofile.year_of_purchase %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">What kind of car of this</td>
    <td class="profile_col2"><%= @carprofile.whatkindofcar %></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Power</td>
    <td class="profile_col2">  <%= @carprofile.power%></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">Engine Displacement</td>
    <td class="profile_col2"><%= @carprofile.engine_dis rescue nil%>
</td>
  </tr>

  <tr>
    <td align="left" valign="top" class="profile_col1">Do you sell this car</td>
    <td class="profile_col2">  <%= @carprofile.sellthiscar %>
</td>
  </tr>
    <tr>
    <td align="left" valign="top" class="profile_col1">License plate</td>
    <td class="profile_col2">  <%= @carprofile.license_plate%>
 </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="profile_col1">VIN Code</td>
    <td class="profile_col2">  <%= @carprofile.VIN%>
</td>
  </tr>
</table>


<h1> Statistics </h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top">
  <div><span class="redcount" id="like_count">
   <% if @counts.nil?%>
    0
  <% else %>
  <%= @counts %>
  <% end %>
  </span></div>
  <div><strong>Likes</strong></div>
  
  </td>
    <td align="left" valign="top">
  <div><span class="bluecount"><%= @egift.count rescue nil%></span></div>
  <div><strong>Egifts</strong>  </div>
  </td>
   <td align="left" valign="top">
  <div><span class="orangecount"><%= @subscribers.count rescue nil%></span></div>
  <div><strong>Subscribers</strong>  </div>
  </td>
    <td align="left" valign="top">
  <div> <span class="greencount"><%= @comments.count rescue nil%></span></div>
  <div><strong>Comments</strong></div> </td>
  
  <td align="left" valign="top">
  <div>Car Profile created on</div>
  <div><%= @carprofile.created_at.strftime("%T %a %b %e %Y ") %></div>
  <div>Total Visits: <%= @carprofile.user_visit %></div>
  </td>
  </tr>
</table>

  
  
  </div>


   


    
    </div>
    
    
    
    
    
    
    
    <div class="container_20">
        
        
    <div class="grid_20 aboutme">
    
  
  <h4>My Cars</h4>
  
  <div id="mainwrapper">
    <% for carprofile in @carprofile.carprofile_photos %>
     <div id="box-1" class="box1">
      <%= image_tag(carprofile.photo.url(:thumb))  %>
      <span class="caption simple-caption">
          <p><a href="#inline1" id="various1">Simple Caption</a></p>
      </span>
     </div>
    <% end %>

  </div>

  
  </div> 
  </div>


  
  <div class="container_20">
  <div class="grid_10">
 
  
<h4>My Logbooks</h4>
  <% @logbooks.each do |logbook| %>
  <div class="blog_div" style="width:100% !important">
  <a href="<%= logbook_path(logbook)%>" class="redlink">
        <%=  logbook.logbook_category.name%>
  </a><br>
  <%= truncate(logbook.logbook_discription, :length => 500).html_safe  rescue nil %> 
  <br/>
         <a href="<%= logbook_path(logbook)%>" class="bluelink">Read More
      </a>
  </div>
  <%end%>
    
 
 </div>

    
  <div class="grid_10">
            <h4>Comments</h4>
          
        <div class="small_thumb">
        <% unless current_user.pic? %>
            <img alt="" src="/assets/thumb_profile.jpg" style="float:left" style="float:left" height="40" width="50">
        <% else %>
          <%= image_tag (current_user.pic.url(:thumb)),:height => "40",:width => "50",:style=>"float:left;"%>
        <% end %>
        </div>

        <%= form_tag({:action => 'post_comment'},:method=>"post",:remote => true ) do %>
            <%= hidden_field_tag :car_profile_id,@carprofile.id %>
            <p>
              <%= text_area_tag :body,nil,:class=>"comment_tf2",:rows=>"4" ,:style => "width:365px", :maxlength => 2000 %>
            </p>
            <%= submit_tag "Comment", :style=>"margin-left:100px",:class=>"submit_btn"%>
        <% end %>


  <div id="comment_load" style="overflow: auto; height: 300px; margin: 10px 0px;">
          <%if @comments.empty? %>
          <% else %>
              <%= render "car_profile_comments"%>
          <% end %>
        </div>
     
</div>
  
  
  </div>
        

    
    </div>
    


  
    
    </div>
    




<script type="text/javascript">
jQuery(document).ready(function(){
jQuery("a.topopup").click(function(){
  jQuery.ajax({
     type: "GET",
     url: "/carprofiles/like_count",
     data: {"id" : jQuery(this).attr("val")},
     success: function(data){
   
     },
     dataType: "script"
   });
})
});
</script>


    
    <div id="toPopup"> 
      
        <div class="close"></div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
    <div id="popup_content"> 
 
     <span id="a.topopup" class="like_data"></span>
      <!--your content start-->
           
        </div> <!--your content end-->
    
    </div> <!--toPopup end-->
    
  <div class="loader"></div>
    <div id="backgroundPopup"></div>




<script type="text/javascript">
jQuery(document).ready(function() {
  var showChar = 400;
  var ellipsestext = "...";
  var moretext = "More";
  var lesstext = "Less";
  jQuery('.more').each(function() {
    var content = jQuery(this).html();

    if(content.length > showChar) {

      var c = content.substr(0, showChar);
      var h = content.substr(showChar-1, content.length - showChar);

      var html = c + '<span class="moreelipses">'+ellipsestext+'</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">'+moretext+'</a></span>';

      jQuery(this).html(html);
    }

  });

  jQuery(".morelink").click(function(){
    if(jQuery(this).hasClass("less")) {
      jQuery(this).removeClass("less");
      jQuery(this).html(moretext);
    } else {
      jQuery(this).addClass("less");
      jQuery(this).html(lesstext);
    }
    jQuery(this).parent().prev().toggle();
    jQuery(this).prev().toggle();
    return false;
  });
});
</script>