
    
    <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
      <%= render 'shared/carousel' %> 
    
    </div>
    
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left"><h4>Mail</h4></div>
  <div style="width:40%; float:right; text-align:right; margin-top:5px"><%= link_to 'Compose+', new_message_path ,:class => "compose" %></div>
  
  
  
    
    
    </div>
    
    <div class="grid_4">
    
    
    
      <ul class="message_menu">
    <li class="selected"><a href="#">Inbox</a></li>
    <li><%= link_to "Sent Messages", sent_messages_messages_path %></li>
    <li><%= link_to "Trash", trash_messages_messages_path %></li>
    </ul>
    
    
      </div>
    
    <div class="grid_16">
    
    <div><input name="" type="text" class="pe_tf message_search"></div>
    
<% @a = @messages.reject {|i| i.is_trashed_by_recipient == true} %>
<% @a.each do |message| %>
    <div class="message"> 
    
    <div class="tf">
    <input name="" type="checkbox" value="">
    
    
    </div>
    <img src="assets/thumb_profile.jpg" alt="">
    
    <div class="mail_content">
    <div><a href="#" class="bluelink bold"><%= message.sender.email %></a></div>
    <div style="margin:0 0 5px 0">Subject: 
      <%= link_to message.subject , message , :class => "bluelink" %>
    </div>
    <div><%= message.body.html_safe %></div>
    </div>
    
    
    
    <ul class="action">
    <li><%= message.created_at %></li>
    <li><a href="#"><img src="/assets/mail_read.png" alt="" border="0"></a></li>
    <li><%= link_to image_tag("/assets/delete.png"), trash_message_path(message),method: :post, data: { confirm: 'Move To Trash?' } %></li>
    
    </ul>
    
    
    
    </div>
    

<% end %>

  

    
    <div class="message">
    <div style="float:left">

    <select name="" class="pe_tf">
      <option>Action</option>
      <option>Delete</option>
    
    </select>
    </div>
    
    <div style="float:right"> <input type="button" value="Un-Selected All" class="submit_btn"> </div>
    
    </div>
    
    
    <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
 
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#" class="current">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#" class="next">Previous</a></li>
  <li><a href="#" class="last">Next</a></li>
</ul>
    
    
    
    </div>
        
    
        
    
    </div>
    


  
    
    </div>
    

</div>



