<div class="middle">

  <div class="grid_20" style="padding-bottom: 20px;">



<h2>Account Settings</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true,:class=>"pe_tf" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off",:class=>"pe_tf" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation,:class=>"pe_tf" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password,:class=>"pe_tf" %></div>
  <div><%= f.label :firstname %><br />
  <%= f.text_field :first_name,:class=>"pe_tf" %></div>

  <div><%= f.label :last_name%><br />
  <%= f.text_field :last_name,:class=>"pe_tf" %></div>

  <div><%= f.label :nickname %><br />
  <%= f.text_field :nickname ,:class=>"pe_tf"%></div>

  <div><%= f.label :about ,"About Me" %><br />
  <%= f.text_area :about ,:rows =>5 ,:maxlength => 2000,:class=>"pe_tf"%></div>
  
  <div><%= f.label :birthday %><br />
  <%= f.date_select(:birthday,order: [:day, :month, :year],:start_year => 1950, :class=>"signup_tf") %></div>

  
  <div><%= f.label :location%><br />
  <%= f.collection_select :location,Country.all(:order => :id) ,:name ,:name ,:prompt => "Please Select"%>
</div>

<div><%= f.label :picture%><br />
  <%= f.file_field :pic ,:class=>"pe_tf"%></div></br>

  
  <div><%= f.submit "Update" ,:class=>"submit_btn" %></div>
<% end %></br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete,:class=>"submit_btn"  %></p></br>

<%= link_to "Back", :back,:class=>"submit_btn"  %>
</div>
</div>