<!-- <h1>Admin Dashboard</h1>

<%= link_to "Pages", admin_pages_path %><br/>
<%= link_to "Seo", admin_seos_path %><br/>
<%= link_to "Blog Topics", admin_blogs_path %><br/>
<<<<<<< HEAD
 -->

<%= link_to "Car Make", admin_car_makes_path %><br/>
<%= link_to "Car Model", admin_car_models_path %><br/>
<%= link_to "Logbook Categories", admin_logbook_categories_path %><br/>

