<h1>Listing Abuse Reports</h1>

<table class="admintable">
  <tr class="admintablehd">
    <td width="25%"> Requester User</td>
    <td width="25%">Abuse category</td>
    <td width="25%">Abuse type</td>
    <td width="25%">Comments</td>
    <td width="25%">Abuser user</td>
    <td colspan=2 style="text-align: center !important;">Actions</td>
  </tr>

<% @abuse_reports.each do |abuse_report| %>
  
  <tr>
    
    <td><%= abuse_report.user.first_name%>  <%= abuse_report.user.last_name%>(<%= abuse_report.user.email%>)</td>
    <td><%= abuse_report.abuse_category.name %></td>
    <td><%= abuse_report.abuse_type %></td>
    <td><%= abuse_report.comments[0..20] %></td>
    <td><%= User.find_by_id(abuse_report.abuser_user_id).first_name %>  <%= User.find_by_id(abuse_report.abuser_user_id).last_name %></td>
    <td><%= link_to 'Show Report', abuse_report %></td>
    <td><%= link_to 'Destroy', abuse_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    
    
    
    
    
    
  </tr>
  
<% end %>
</table>

<br />

<%#= link_to 'New Abuse report', new_abuse_report_path %>
