<h1>Listing Abuse Reports</h1>

<table class="admintable">
  <tr class="admintablehd">
    <td > Requester User</td>
    <td >Abuse category</td>
    <td >Abuse type</td>
    <td >Comments</td>
    <td >Abuser user</td>
    <td colspan=2 style="text-align: center !important;">Actions</td>
  </tr>

<% @abuse_reports.each do |abuse_report| %>
  
  <tr>
    
    <td><%= abuse_report.user.first_name rescue nil%>  <%= abuse_report.user.last_name rescue nil%>(<%= abuse_report.user.email rescue nil%>)</td>
    <td><%= abuse_report.abuse_category.name rescue nil%></td>
    <td><%= abuse_report.abuse_type rescue nil%></td>
    <td><%= abuse_report.comments[0..20] rescue nil%></td>
    <td><%= User.find_by_id(abuse_report.abuser_user_id).first_name rescue nil%>  <%= User.find_by_id(abuse_report.abuser_user_id).last_name rescue nil%></td>
    <td><%= link_to 'Show Report', abuse_report %></td>
    <td><%= link_to 'Destroy', abuse_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    
    
    
    
    
    
  </tr>
  
<% end %>
</table>

<br />

<%#= link_to 'New Abuse report', new_abuse_report_path %>
