<h1>Listing Abuse Reports</h1>

<table>
  <tr>
    <th> Requester User</th>
    <th>Abuse category</th>
    <th>Abuse type</th>
    <th>Comments</th>
    <th>Abuser user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abuse_reports.each do |abuse_report| %>
  
  <tr>
    
    <td><%= abuse_report.user.first_name%>  <%= abuse_report.user.last_name%>(<%= abuse_report.user.email%>)</td>
    <td><%= abuse_report.abuse_category.name %></td>
    <td><%= abuse_report.abuse_type %></td>
    <td><%= abuse_report.comments[0..20] %></td>
    <td><%= User.find_by_id(abuse_report.abuser_user_id).first_name %>  <%= User.find_by_id(abuse_report.abuser_user_id).last_name %></td>
    <td><%= link_to 'Show Report', abuse_report %></td>
    <td><%= link_to 'Destroy', abuse_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%#= link_to 'Edit', edit_abuse_report_path(abuse_report) %></td>
    
    <td><%#= abuse_report.carprofile_id %></td>
    <td><%#= abuse_report.logbook_id %></td>
    <td><%#= abuse_report.user_blog_id %></td>
    <td><%#= abuse_report.comment_id %></td>
    
    
    
    
    
  </tr>
  
<% end %>
</table>

<br />

<%#= link_to 'New Abuse report', new_abuse_report_path %>
