<p id="notice"><%= notice %></p>

<p>
  <b>Requester User:</b>
  <%= @abuse_report.user.first_name %> <%= @abuse_report.user.last_name %>
</p>
<%unless @abuse_report.logbook_id == nil %>
<p>
  <b>In Carprofile Id :</b>
  <%= @abuse_report.carprofile_id %>
</p>
<%end%>
<%unless @abuse_report.logbook_id == nil %>
<p>
  <b>In Logbook Id:</b>
  <%= @abuse_report.logbook_id %>
</p>
<%end%>
<%unless @abuse_report.user_blog_id == nil %>
<p>
  <b>In User blog Id:</b>
  <%= @abuse_report.user_blog_id %>
</p>
<%end%>
<%unless @abuse_report.comment_id == nil %>
<p>
  <b>Comment Id:</b>
  <%= @abuse_report.comment_id %>
</p>
<%end%>
<p>
  <b>Abuse type:</b>
  <%= @abuse_report.abuse_type %>
</p>

<p>
  <b>Abuser user:</b>
  
  <%= User.find_by_id(@abuse_report.abuser_user_id).first_name %> <%= User.find_by_id(@abuse_report.abuser_user_id).last_name %>(<%= User.find_by_id(@abuse_report.abuser_user_id).email %>)
</p>

<p>
  <b>Comments:</b>
  <%= @abuse_report.comments %>
</p>

<p>
  <b>Abuse category:</b>
  <%= @abuse_report.abuse_category.name %>
</p>


<%#= link_to 'Edit', edit_abuse_report_path(@abuse_report) %> 
<%= link_to 'Back', abuse_reports_path %>
