<%= form_for(@user) do |f| %>
   <% if @user.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>

  <div class="field">
    <%= f.label "User email id" %><br />
    <%= f.text_field :email ,:value => @user.email,:readonly => true %>
  </div>

  <div class="field">
    <%= f.label "Free credit" %><br />
    <%= f.text_field :freecredit %>
  </div>

  <div class="actions">
    <%= f.submit "user" %>
  </div>
<%end%>

