
<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Name</td>
   <td>Block</td>
   <td>Free Points</td>
   <td>Add Points</td>
   <td>Delete User</td>
   
</tr>
<%= link_to "Add Abuse Category", abuse_categories_path%><br/>
<%= link_to "Address Abuse Reports", abuse_reports_path%><br/>
<%= link_to "Add New User", new_user_path %><br/>
<%= link_to "Publish News or Announcement ", contactadmins_path%><br/>
<%= link_to 'Manage Body Index', manage_bodyindices_path %>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :email_cont, "Find Email" %>
    <%= f.text_field :email_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %><br/>
<% @users.each do |user|%>
  <tr>
    <td><%= user.email %></td>
     <td><%= link_to format_boolean(user.status?), {:controller => 'users', :action => 'toggled_status', :id => user.id} %></td>
     <td> <%= user.freecredit%></td>
     <td><%= link_to "Give Points", addpoints_users_path(:id => user.id)%></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',user_path(user) ,:method => :delete , :data=>{ :confirm=> 'Are you sure?' } %>
    </td>
    

  </tr>
<% end %>
</table>

<div class="digg_pagination">
   <%= will_paginate @users %>
</div>

<br />
