<%= link_to "Back", users_path%>
<%= form_for(@user) do |f| %>
   <% if @user.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>

  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.email_field :email  %>
  </div>

  <div class="field">
    <%= f.label "Password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label "Nick Name" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label "Birthday" %><br />
    <%= f.date_select(:birthday,:start_year => 1950,order: [:day, :month, :year],:class=>"signup_tf") %>
  </div>

  <div class="field">
    <%= f.label "Location" %><br />
    <%= f.collection_select :location,Country.all(:order => :id) ,:name ,:name ,:prompt => "Please Select"%>
  </div>
  
  <div class="field">
    <%= show_simple_captcha%>
  </div>
    
  <div><%= f.check_box :agree, {},true,false %> Agree with terms and conditions</div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>

