<div class="middle">
  <div class="container_20" style="background:#333; margin-bottom:10px">
	<%= render 'shared/carousel' %>		
  </div>


  	<div class="container_20">

	<div class="grid_20 title" style="margin-bottom:10px">
		
	<div style="width:40%; float:left"><h4><%= @user.first_name %> <%= @user.last_name %></h4></div>
	<div style="width:40%; float:right; text-align:right; margin-top:5px">
	<% unless current_user.id == @user.id %>
		<%= link_to "Send Message",new_message_path(:id => params[:id]) , :class =>"compose" %>
	<% end %>
	
<% if signed_in? and @user != @logged_in_user %>
   <% unless Friendship.exists?( @logged_in_user, @user) %>
 	<%= link_to "Add To Friends",friendships_path(:id => @user.id) ,:method => :post,:class =>"compose" %>
  <% end %>
  <div style="margin:10px 0"><%= friendship_status( @logged_in_user, @user) %></div>
<% end %>





	</div>
	
	
	
		
		
		</div>
		
		<div class="grid_4">
		
		<div class="profile_image">
		<%= @user.pic?  ? (image_tag @user.pic.url(:thumb)) : (image_tag 'profile.jpg')%>
		</div>
		<div class="profile_image profile_name"> <img src="/assets/online.png" alt=""> 
		 <%= @user.nickname %>
		</div>
    	<ul class="profile_menu">
		
		<li><%= link_to friendships_path do %>
			Friends
			<span class="light_gray">(<%= @user.friends.count %>)
			<% if !@user.requested_friends.empty? && current_user == @user %>
			 New*
			<% end %>
			</span>
			<% end %>
		</li>
		<% unless current_user.id == @user.id %>
         <li><%= link_to (Subscriber.subscribes?(current_user,@user) ? "Unsubscribe": "Subscribe"),subscribe_profile_users_path(:id=>@user.id),:method => "post",:remote => true,:id=>"subscribe_profile"%></li> 
       <% end %>
       <% unless current_user != @user %>
       <li><a href="#">Credit Points <span class="light_gray">(<%= @user.credit %>)</span></a></li>
       <% end %>
      <% unless current_user.id == @user.id %>
       
   
      <li>
        <% if Block.status(@user,current_user) %>
        <%= link_to "UnBlock",unblock_user_users_path(:id=>@user.id),:method => "post",:remote => true,:id=>"user_block"%>
        <% else %>
        <%= link_to "Block",block_user_users_path(:id=>@user.id),:method => "post",:remote => true,:id=>"user_block"%>
        <% end %>      	

      </li> 


       <% end %>
		
		<!-- <li><a href="#">Favorites <span class="light_gray">(5)</span></a></li>
		<li><a href="#">My Guest <span class="light_gray">(1)</span></a></li>
		<li><a href="#">Comment <span class="light_gray">(3)</span></a></li>
		<li><a href="#">Top Cars <span class="light_gray">(7)</span></a></li>
		<li><a href="#">New Cars <span class="light_gray">(5)</span></a></li> -->
		<li><a href="#">Egift
			<span class="light_gray">(<%= @user.received_egifts.count %>)</span>
		</a>
		</li>
		</ul>
  		</div>
		
		
		<div class="grid_16">
		
		Loremi pilsLoreLoremi pilsLoremi pilsiimi pilsii Loremi pilsLoremi pilsiLoremi pilsiLoremi pilsii

		
		</div>
		
				
		
				
		
		</div>
		


		</div>

















	
		



  
		
		


