<div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    
    </div>
    
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left"><h4><%= @user.first_name %> <%= @user.last_name %> Friends</h4></div>
  <!-- <div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="#" class="compose">Create a List </a></div> -->
  
  
  
    
    
    </div>

    <div class="grid_16">
     
    
    <!-- <div><input name="" type="text" class="pe_tf message_search"></div> -->
     <% @friends.each do |friend|%>
      <% unless Block.status(current_user,friend) %>
    <div class="message"> 
    
    <div class="tf">
    <!-- <input name="" type="checkbox" value=""> -->
    
    
    </div>
    <%if friend.pic.blank? %>
    <a href="<%= user_path(friend)%>"><img src="/assets/thumb_profile.jpg" alt="">
    <%else%>
    <%= link_to image_tag(friend.pic.url(:thumb),:width => 50, :height => 40), user_path(friend)%>
    <% end %>
    <div class="mail_content">
    <div><a href="<%= user_path(friend)%>" class="bluelink bold"><b><%=friend.first_name %> <%= friend.last_name%></b></a></div>
    
    
    </div>
    
    
    
    <ul class="action">
    <% if signed_in? and friend != @logged_in_user %>
   <% unless Friendship.exists?( @logged_in_user, friend) %>
    <%= link_to "Add To Friends",friendships_path(:id => friend.id) ,:method => :post,:class =>"compose" %>
  <% end %>
  <div style="margin:10px 0"><%= friendship_status( @logged_in_user, friend) %></div>
<% end %>
    
    <li></li>
    
    </ul>
    
    
    
    </div>
    <% end %>
    <% end %>
    
    
    <!-- <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
      <%#= will_paginate @friends %>
    </ul> -->
    
    
    
    </div>
        
    
        
    
    </div>
    


  
    
    </div>
    

</div>













