<div class="middle">
  <div class="container_20" style="background:#333; margin-bottom:10px">
    <%= render 'shared/carousel' %> 
      <div class="container_20">
        <div class="grid_20 title">
          <div style="width:40%; float:left"><h4>My Favourites</h4></div>
        </div>
          <div class="grid_20">
             <% @favourites.each do |n| %> 
            <%if n.favourite_type == "favourite_logbook"  %>  
            <div class="message"> 
              <%unless n.logbook.carprofile.carprofile_photos.blank?%>
                <div class = "thumb"><%= image_tag(n.logbook.carprofile.carprofile_photos.first.photo.url(:thumb) ,:width => 50, :height => 40) rescue nil%></div>
              <%else%>
                <div class = "thumb"><a href="#"><img src="/assets/index.jpeg" alt=""  width="55" height="40"></div>
              <%end%>
              <div class="mail_content">
                <div><a href="<%=logbook_path(n.logbook_id)%>" class="bluelink bold"><%= n.logbook.title rescue nil%></a></div>
                by <a class="bluelink" href="#"><%= n.logbook.user.first_name rescue nil%></a>
                <%#= n.logbook.%>
                <ul class="action">
                <div style="float:right"><a href="#"><%= link_to  "Unfavourite",deletefav_favourites_path(:n_id => n.id), :data=> { :confirm=> 'Are you sure you want to unfavourite this logbook ?' },:class=>"submit_btn3" %></a></div>
              </ul>
                <div>Your favourite logbook.</div>
              </div>
            </div>
            <%end%>
            <%end%>

            <% @favourites.each do |n| %> 
            <%if n.favourite_type == "favourite_blog"  %>  
            <div class="message">
              <%#raise n.user_blog.user.pic?.inspect%>
              <%unless n.user_blog.user.pic?%> 
                <div class="thumb"><a href="#"><img src="/assets/thumb_profile.jpg" alt="" width=55></div>
              <%else%>
                
                <div class = "thumb"><%= image_tag(n.user_blog.user.pic ,:width => 55, :height => 40) rescue nil%></div>
              <%end%>
              <div class="mail_content">
                <div><a href="<%=user_blog_path(n.user_blog_id)%>" class="bluelink bold"><%=n.user_blog.title rescue nil%></a></div>
                by <a class="bluelink" href="#"><%= n.user_blog.user.first_name rescue nil%></a>
                <ul class="action">
                <div style="float:right"><a href="#"><%= link_to  "Unfavourite",deletefav_favourites_path(:n_id => n.id), :data=> { :confirm=> 'Are you sure you want to unfavourite this blog ?' },:class=>"submit_btn3" %></a></div>
              </ul>
                <div>Your favourite blog.</div>

              </div>
            </div>
            <%end%>
            <%end%>

            <% @favourites.each do |n| %> 
            <%if n.favourite_type == "favourite_carprofile"  %>  
            <div class="message">
              
              <%unless n.carprofile.carprofile_photos.blank?%>
               <div class = "thumb"><%= image_tag(n.carprofile.carprofile_photos.first.photo.url(:thumb) ,:width => 55, :height => 40) rescue nil%></div>
              <%else%>
               
                 <div class = "thumb"><a href="#"><img src="/assets/index.jpeg" alt=""  width="50" height="40"></div>
              <%end%>
              <div class="mail_content">
                <div><a href="<%=carprofile_path(n.carprofile_id)%>" class="bluelink bold"><%= n.carprofile.car_model.name rescue nil%></a></div>
                by <a class="bluelink" href="#"><%= n.carprofile.user.first_name rescue nil%></a>
                <ul class="action">
                <div style="float:right"><a href="#"><%= link_to  "Unfavourite",deletefav_favourites_path(:n_id => n.id), :data=> { :confirm=> 'Are you sure you want to unfavourite this carprofile ?' },:class=>"submit_btn3" %></a></div>
              </ul>
                <div>Your favourite car profile.</div>
              </div>
            </div>
            <%end%>
            <%end%>
            <div class="digg_pagination">
             <%= will_paginate @favourites %>
            </div>
          </div>
      </div>
  </div>
</div>
    


 




    