<style>
.fgp{ 
  color:#fff;
}
</style> 
<div class="header">
  <div class="container_20">
    <div class="grid_5">
      <a href="#"><img src="/assets/logo.png" alt="" border="0"></a> 
    </div>
   
    <div class="grid_15">
  <% if user_signed_in? %>
      <ul class="bottom_menu" style="margin-top:8px; float:right;">
      <li><%= link_to "Settings", edit_user_registration_path %></li>  
      <li><a href="#">Help</a></li>   
      <li><%= link_to "Logout",destroy_user_session_path,:method => :delete %></li>  
      <% end %>
     <div class="search_div" style="margin:-6px;">
      <% unless user_signed_in? %>
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email,:class=>"search_tf"%>
        <%= f.password_field :password,:class=>"search_tf" %>
        <%= f.submit "Log In",:class=>"submit_btn" %>
        <div style="width:auto; padding:5px 7px; color:#FFFFFF"> 
          <div style="width:228px; float:left"><%= f.check_box :remember_me %>Remember Me </div>
        <% end %>
        <div style="width:auto; float:left">
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "fgp" %><br />
        </div>
      </div>
          
        <% else %>
  <%= form_tag keywordsearch_path,:method=> :get do %>
  <%= text_field_tag :q, nil,:class=>"search_tf"%>
    <%= submit_tag "Search",:class=>"submit_btn" %>
   <% end %>
      
      <% end %>
       </div></ul>
    
     </div>
    </div>

  </div>


