<%= form_for [:admin, @engine]  do |f| %>  
  <% if @engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engine.errors.count, "error") %> prohibited this car model from being saved:</h2>

      <ul>
      <% @engine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= javascript_include_tag "jquery-1.9.1.js", "select2.js"%>
  <%= stylesheet_link_tag "select2.css"%>

  <script type='text/javascript'>//<![CDATA[ 
    $(function(){
    $("#engine_engine_displacement").select2({
        allowClear: true,
        placeholder: 'Select Car Make'
    }).select2('val',$("#engine_displacement_value").val())
    });//]]>  
  </script>

  <div class="field">
    <%= f.label "Engine Displacement" %>
    <%= f.collection_select :engine_displacement, Engine.all, :id , :engine_displacement, :prompt => "Select Engine" %><br/>
    (This search only for to cross check whether Engine Displacement present or not. )
  </div><br/>

  <div class="field">
    <%= f.label "Engine Displacement" %>
    <%= f.text_field :engine_displacement %>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>