<%= link_to 'New Engine Displacement', new_admin_engine_path %>
<br/><br/>
<h1>Engine Displacement</h1>

<table class="admintable">
 <tr class="admintablehd">
       <td width="25%">Car Model</td>
          <td width="25%">Engine Displacement</td>
   <td colspan=2 style="text-align: center !important;">Actions</td>
</tr>



<% @engines.each do |engine|%>
  <tr>
    <td><%= engine.car_model.name rescue nil %></td>
    <td><%= engine.engine_displacement rescue nil %></td>
    <td style="text-align: center !important;"><%= link_to 'Edit', edit_admin_engine_path(engine) %></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',admin_engine_path(engine) ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
