<h2>Contact Us</h2>

<h4>Send Us An Email</h4>

<%= form_for :reset_password do |f| %>


	<div class="field-row">
		<label>Name	</label>									
		<%= f.text_field :name%>
	</div>

	<div class="field-row">
		<label>Email</label>
		<%= f.text_field :email%>	
	</div>

	<div class="field-row">
		<label>Message</label>
		<%= f.text_area :message%>
	</div>

	
	<%= submit_tag 'Send',:class =>"button2" %>
<%end%>
							