<div class="middle">
  <div class="container_20" style="background:#333; margin-bottom:10px">
	<%= render 'shared/carousel' %>		
  </div>
		
		
  <div class="container_20 profile_bg">
	<div class="grid_4">
      <div class="profile_image"><!-- <img alt="" src="assets/profile.jpg"> -->
      	<%= current_user.pic?  ? (image_tag current_user.pic.url(:thumb)) : (image_tag 'profile.jpg')%>
      </div>
	</div>
	
	<div class="grid_16">
	 <h1><%= current_user.first_name %>&nbsp;
	  	<%= image_tag (current_user.visibility_status ? "online.png" : "offline.gif"), :id => "visible_mode" %>
	  </h1>
		<ul class="tab_menu">
		<li><%= link_to "Earn credits(#{current_user.credit.to_i})", earn_credits_credits_path %></li> 
		<li><%= link_to "Cars" , carprofiles_path %></li>
		<li><%= link_to "Subscribers",:action=>"subscribe_count",:id=>current_user.id%>
      </li> 
		<li><a href="#">Message</a></li> 
		<li><%= link_to "My Gifts" , my_gifts_egifts_path %></li>
		<li><a href="#"><img src="assets/star2.png" alt=""></a></li>
		<li><%= select_tag :visibility_status,options_for_select(["ACTIVE","INACTIVE"],:selected => (current_user.visibility_status ? "ACTIVE" : "INACTIVE") ),:onchange=>"javascript:user_status($(\":selected\").text());"%></li>	    
		</ul>
	</div>
   </div>
	
		<div class="container_20">
				
				
				<div class="grid_9 aboutme">
		
	<h4>About Me</h4>
	<p>
		<% if current_user.about.nil? || current_user.about.blank? %>
		No Description Yet! (For about me click settings)
		<% else %>
		<%= current_user.about %>
		<% end %>
	</p>
	<h4>My Blogs</h4>
	
	
	<% @user_blogs.each do |user_blog| %>
	<div class="blog_div2">
        <a class="redlink" href="<%= user_blog_path(user_blog) %>"><%=  user_blog.blog.name rescue nil%></a><br>
        <%= truncate(user_blog.body, :length => 200).html_safe  rescue nil %><br/>
        <a class="bluelink" href="<%= user_blog_path(user_blog) %>">Read More
		</a>
		
	</div>
	<%end%>
		
		
</div>
	
  <div class="grid_11 aboutme">
		
  <h4>Comments</h4>

<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
<textarea rows="4" class="comment_tf"></textarea>

<div style="float:right; margin:10px 0; text-align:right; width:100%"><input type="button" style="margin:0" class="submit_btn" value="Search"></div>


<div class="blog_div2">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		
		<div class="blog_div2">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		<div class="blog_div2">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		<div class="blog_div2">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		



	</div>

		
		</div>
		


  
		
		</div>
		


