<%= stylesheet_link_tag  "table_style" %>
<div class="middle">
  <div class="grid_20 title">
    <h4 style="margin-top:10px;">Message</h4>
    </div>

<div class="grid_20" style="margin:10px;">  

<table width="100%">
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Email</th>
<th>Location</th>
</tr>
<% @users.each do |user|%>
  <tr>
    <% status = Block.find_by_blockable_id_and_blocker_id(current_user.id,user.id).present? %>
    <% if status %>
     <td><%= link_to user.first_name, "#",:id=>user.id ,:onclick => "alert('You are being Blocked !!!');"%></td>
    <% else %>
     <td><%= link_to user.first_name, user_path(user),:id=>user.id %></td>
    <% end %>    
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.location %></td>
    <%# end %>
  </tr>
<% end %>
</table>
</div>

</div>










