<%= stylesheet_link_tag  "table_style" %>
<div class="middle">
  <div class="grid_20 title">
    <h4 style="margin-top:10px;">Message</h4>
    </div>

<div class="grid_20" style="margin:10px;">  

<table width="100%">
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Location</th>
</tr>
<% @users.each do |user|%>
  <tr>
    <td><%= link_to user.first_name,:controller=>"users",:action=>"show",:id=>user.id %></td>
     <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    <td><%= user.location %></td>
  
  </tr>
<% end %>
</table>
</div>

</div>



