<%= javascript_include_tag "prototype" %>

<%= form_for(@logbook) do |f| %>
   <% if @logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logbook.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @logbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "LOgbook Category" %><br />
    <%= f.collection_select :logbook_category_id, LogbookCategory.all ,:id,:name, :prompt => 'Logbook category' %>
  </div> <br/>

  <p><%= select "logbook",  :car_make_id, CarMake.all.map {|s| [s.name, s.id]},{:prompt => "Select Carmake"}, :onchange => "#{remote_function(:url => {:controller =>"logbooks", :action => "updatemodel"}, :with => "'updatemodel='+value",:loading => "Element.show('loader');",:complete => "Element.hide('loader');")}" %>
   <%= image_tag("/assets/loadingg.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader",
                    :style =>"display: none;" ) %> </p>

  <div id="car_make_id">
   <%= render "logbooks/updatemodel" %> 
  </div>


  <div class="field">
    <%= f.label "Logbook Description" %><br />
    <%= f.text_area :logbook_discription ,:rows=>10, :cols=>200,:style=> "width: 600px;"%>
  </div>

  <%= f.hidden_field :user_id,:value => current_user.id %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>