<%= javascript_include_tag "prototype" %>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<%= form_for(@logbook) do |f| %>
   <% if @logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logbook.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @logbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Logbook Category" %><br />
    <%= f.collection_select :logbook_category_id, LogbookCategory.all ,:id,:name, :prompt => 'Logbook category' %>
  </div> <br/>

  <p> <% @carprofile.each do |carprofile| %>
 
    <%= f.radio_button :carprofile_id , carprofile.id rescue nil%> <%= carprofile.car_model.name %>
    <% end %>
  </p>

  <div class="field">
    <%= f.label "Logbook Description" %><br />
    <%= f.text_area :logbook_discription ,:rows=>10, :cols=>200,:style=> "width: 600px;"%>
  </div>

  <%= f.hidden_field :user_id,:value => current_user.id %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>