<%= javascript_include_tag 'nicEdit' %>
<script type="text/javascript">
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<%= form_for(@logbook, :html=>{:id=>"logbook"}) do |f| %>
   <% if @logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logbook.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @logbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= javascript_include_tag "facebox.js" %>
  <%= stylesheet_link_tag "facebox.css" %>
 
  <script>
    
    jQuery.noConflict();

    jQuery(document).ready(function() {
    jQuery('#previes123').click(function() {
          jQuery.ajax({
          type: "POST",
          url: "<%= previews_logbooks_path %>",
          data: 'prevdata='+ encodeURIComponent(jQuery('#logbook').find('.nicEdit-main').html()),
          });
        });
     });
  </script>

  <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    
     <%= render 'shared/carousel' %>
    
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4>Add Logbook</h4>
  </div>
  
  </div>

    
  <div class="grid_20 title">
  


  

 <%if @carprofile.empty? %>
    <b>please add a car to post logbook</b>
  <%else%>
  <div style="margin:10px 0"><strong>Select car to write a logbook </strong></div> 
  <% @carprofile.each do |carprofile| %>
   
  <div style="float:left">
  
  <%= f.radio_button :carprofile_id , carprofile.id rescue nil%>
  <% unless carprofile.carprofile_photos.blank?%>
   <%= image_tag(carprofile.carprofile_photos.first.photo.url(:thumb),:width => 75, :height => 60) rescue nil%>
   <%else%>
    <a href="#"><img src="/assets/thumb_profile.jpg" alt=""  width="75" height="60"></a>
  <%end%>
  <%= f.hidden_field :car_make_id,:value => carprofile.car_make_id%>
  
  <%= f.hidden_field :car_model_id,:value => carprofile.car_model_id %>

  <%= f.hidden_field :body_index_id,:value => carprofile.body_index_id %>
  
  </div>
  <%end%>
  <%end%>
  
  <div style="float:left; width:100%; margin:20px 0">
  
  <table width="100%" cellspacing="5" cellpadding="5" border="0">
  <tbody>
  <tr>
  <td>
    <%= f.collection_select :logbook_category_id, LogbookCategory.all ,:id,:name, :prompt => 'Logbook Category' %>
  </td>
  </tr>
  <tr>
    <td><span class="red">*</span>Title:</td>
  </tr>
  <tr>
    <td><%= f.text_field :title,:class =>"pe_tf" %></td>
  </tr>
  <tr>
    <td><span class="red">*</span> Post:</td>
  </tr>
  
  <tr>
    <td><%= f.text_area :logbook_discription,:maxlength => 2000, :class =>"pe_tf",:rows =>"12", :style => "width:960px ; overflow-y: scroll; height: 200px; " %></td>
    <%= f.hidden_field :user_id,:value => current_user.id %>
  </tr>

  
  <tr>
    <td>
      <%= f.submit "Publish", :name => "publish" , :class=>"submit_btn" %>
      <%= f.submit "Save as Draft", :name => "draft",:class=>"submit_btn" %>
      <%= link_to "Preview", "javascript:void(0);", :id=>"previes123", :class=>"submit_btn", :style=>"position: relative; padding: 9px 10px; top: -2px;"%>
    </td>
  </tr>
 </tbody></table>
  
  </div>
  
  
  
    </div>
  </div>
</div>

<%end%>

