<p><%= notice %></p>
<% if current_user.id == @logbook.user_id %>
<%= link_to 'Back', logbooks_path %> | <%= link_to 'Edit', edit_logbook_path %> | 
<%= link_to 'Destroy',logbook_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
<% end %>

<%= link_to (image_tag "like.jpg") ,like_logbook_logbooks_path(:id => @logbook.id),:method => "post",:remote => true,:id => "like_logbook" %><span id="like_count"><%= @counts %></span>
<p>
  <b>Logbook Category:</b>
  <%= @logbook.logbook_category.name%>
</p>

<p>
  <b>Car Make:</b>
  <%= @logbook.car_make.name%>
</p>

<p>
  <b>Car Model:</b>
  <%= @logbook.car_model.name%>
</p>

<p>
  <b>Car description:</b>
  <%= @logbook.logbook_discription%>
</p>

<h3>Comments</h3>
<% @logbook.comment_logbooks.each do |comment_logbook| %>
  <div>
    <strong><%= comment_logbook.body %></strong>
  </div>
<% end %>
<br/>
<%= render 'comment_logbooks/form' %>


