<div class="container_20">

    
    <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    <%= render 'shared/carousel' %>
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4> Logbook Show Page </h4>
  </div>
  

    
    </div>
    
    
    
    <div class="grid_20">
    
  <h2><a class="bluelink" href="<%= logbook_path(@logbook) %>"><%= @logbook.title rescue nil%></h2>

 
  by <a class="bluelink" href="<%= user_path %>"><%= @logbook.user.first_name rescue nil%></a><br/><br/>

   <td>
  <% if current_user.id == @logbook.user_id %>
  
    <%= link_to 'Edit', edit_logbook_path %>
    <%= link_to (image_tag "001_05.png"),logbook_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
  
  <%end%>
  <%= link_to (image_tag "star2.png"),{:controller => :favourites, :action => :user_logbook, :user_id => current_user.id }%><br/>

  <p>
    <%= @logbook.logbook_discription.html_safe rescue nil%>
  </p>
  <tr>
   
  <%= link_to (image_tag "like.jpg") ,like_logbook_logbooks_path(:id => @logbook.id),:method => "post",:remote => true,:id => "like_logbook" %><span id="like_count"><%= @counts %></span>&nbsp;&nbsp;&nbsp;
  <a class="bluelink" href="<%= logbook_path(@logbook) %>">Comment</a>&nbsp;&nbsp;&nbsp;

    <%= @logbook.created_at.strftime("%b %d, %Y") rescue nil%>
 
 <br/><br/><hr/>

<h4>Comments</h4>
<div class="row">


<% @logbook.comment_logbooks.each do |comment_logbook| %>

 <% unless comment_logbook.id.nil? %>
  <div>
  <strong><%= comment_logbook.body.to_s.html_safe rescue nil%>
    <% if comment_logbook.user_id == current_user.id  %>
     <%= link_to (image_tag "delete.png"), comment_logbook, method: :delete, data: { confirm: 'Are you sure?' }%> 
     <%end%>
  
  </strong>
    
  </div>
<% end %>
<%end%>
<%= render 'comment_logbooks/form' %>
<br/>

</div>
    
    
    
    
    
    
    
        
    
        
    
    </div>
    


  
    
    </div>
    

</div>

