<script type="text/javascript">
$(document).ready(function(){
$("a.topopup").click(function(){
  $.ajax({
     type: "GET",
     url: "/logbooks/like_count",
     data: {"id" : $(this).attr("val")},
     success: function(data){
   
     },
     dataType: "script"
   });
})
});
</script>


<p><%= notice %></p>
<% if current_user.id == @logbook.user_id %>
<%= link_to 'Back', logbooks_path %> | <%= link_to 'Edit', edit_logbook_path %> | 
<%= link_to 'Destroy',logbook_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
<% end %>
<%#= raise params[:id].inspect %>
<%= link_to "Favourite",{:controller => :favourites, :action => :user_logbook, :user_id => current_user.id }%>

<%= link_to (image_tag "like.jpg") ,like_logbook_logbooks_path(:id => @logbook.id),:method => "post",:remote => true,:id => "like_logbook" %><span id="like_count"><%= @counts %></span><br/>

written by : <%= @logbook.user.first_name rescue nil%> <%= @logbook.user.last_name rescue nil%><br/> 
Written on :<%= @logbook.created_at.to_date rescue nil%><br/>
<p>
  <b>Logbook Category:</b>
  <%= @logbook.logbook_category.name%>
</p>

<p>
  <b>Car Make:</b>
  <%= @logbook.car_make.name%>
</p>

<p>
  <b>Car Model:</b>
  <%= @logbook.car_model.name%>
</p>

<p>
  <b>Body Index:</b>
  <%= @logbook.body_index.bodyindex%>
</p>

<p>
  <b>Car description:</b>
  <%= @logbook.logbook_discription%>
</p>

<h3>Comments</h3>
<% @logbook.comment_logbooks.each do |comment_logbook| %>
  <div>
    <strong><%= comment_logbook.body %></strong>
  </div>
<% end %>
<br/>
<%= render 'comment_logbooks/form' %>


