<div class="container_20">

    
    <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    <%= render 'shared/carousel' %>
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4> Logbook Show Page </h4>
  </div>
  

    
    </div>
    
    
    
    <div class="grid_20">
    
  <h2><a class="bluelink" href="<%= logbook_path(@logbook) %>"><%= @logbook.title rescue nil%></h2>

 
  by <a class="bluelink" href="<%= user_path(@logbook.user_id)%>"><%= @logbook.user.first_name rescue nil%></a><br/><br/>


   <td>
  

  <p>
    <%= @logbook.logbook_discription.html_safe rescue nil%>
  </p>
  <tr>
   
  <%= link_to (image_tag "like.jpg") ,like_logbook_logbooks_path(:id => @logbook.id),:confirm  => "Your one credit point will get deducted if you like this logbook",:method => "post",:remote => true,:id => "like_logbook" %><span id="like_count"><%= @counts %></span>&nbsp;&nbsp;&nbsp;

   
 
   <% if current_user.id == @logbook.user_id %>
  
    <%= link_to (image_tag "image.jpg" ,:height => "20", :width => "20"), edit_logbook_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag "delete.png"),logbook_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;&nbsp;
  
  <%end%>
  <%= link_to (image_tag "star2.png",:height => "20", :width => "20"),{:controller => :favourites, :action => :user_logbook, :user_id => current_user.id }%>&nbsp;&nbsp;&nbsp;
  
  <div style="float:right"><%= @logbook.created_at.strftime("%b %d, %Y")rescue nil%></div><br/>
 <br/><br/><hr/>



<h4>Comments</h4>

  <div class="comment_arrow"></div>
<% @logbook.comment_logbooks.each do |comment_logbook| %>
  <% unless comment_logbook.id.nil? %>


<div class="comment_content">

        <% unless  comment_logbook.user.pic? %>
        <img alt="" src="/assets/thumb_profile.jpg" style="float:left" style="float:left" height="40" width="50">
          <%else%>
        <img alt="" src="<%=  comment_logbook.user.pic.url(:thumb)%>" style="float:left" height="40" width="50">
        <% end %>
          <div class="comment_right">

        
                <% if comment_logbook.user_id == current_user.id  %>
           <%= link_to (image_tag "delete.png"), comment_logbook, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "close2"%>
             <%end%>
            <div style="margin:0 0 5px 0">By <a class="bluelink" href="<%=user_path(comment_logbook.user.id)%>" ><%=comment_logbook.user.first_name%></a></div>
            <div><%= comment_logbook.body.to_s.html_safe rescue nil%>
            </div>
            
            <ul class="action">
              <% if comment_logbook.created_at > Time.now.beginning_of_day %>
               <%="#{time_ago_in_words(comment_logbook.created_at)} ago"%>
               <% else %>
          <!-- <li><a href="#">Like</a></li> -->
          <!-- <li><a href="#">Comment</a></li> -->
          <li><%= comment_logbook.created_at.strftime("%b %d, %Y") %></li>
          <% end %>
          </ul>
    
          </div>
          
          
        </div>

        <%end%>
         <%end%>
         <%= render 'comment_logbooks/form' %>



        
    
    </div>
    


  
    
    </div>
    

</div>

