 
  <% if @car_make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_make.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @car_make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= javascript_include_tag "jquery-1.9.1.js", "select2.js"%>
  <%= stylesheet_link_tag "select2.css"%>

  <script type='text/javascript'>//<![CDATA[ 
    $(function(){
    $("#car_make_name").select2({
        allowClear: true,
        placeholder: 'Select Car Make'
    }).select2('val',$("#name_value").val())
    });//]]>  
  </script>
  <%unless params[:type] == "make"%>
  <div class="field">
    <%= f.label "Search Car Make" %>
    <%= f.collection_select :name ,CarMake.all ,:id,:name, :prompt => "Search Car Make" rescue nil%>
  </div>
  <%end%><br />
  
  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </div>
  
