<%= link_to 'New Car Make', new_admin_car_make_path %>
<br /><br />
<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Name</td>
   <td colspan=2 style="text-align: center !important;">Actions</td>
</tr>


<% @car_makes.each do |car_make|%>
  <tr>
    <td><%= car_make.name rescue nil %></td>
    <td style="text-align: center !important;" ><%= link_to 'Edit', edit_admin_car_make_path(car_make) %></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',admin_car_make_path(car_make) ,:method => :delete , :data=>{ :confirm=> 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>


<%= javascript_include_tag  "bootstrap.min.js"%>
<%= javascript_include_tag  "jquery-2.0.1.js"%>

<style type='text/css'>
    .tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:30px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
  </style>


  


<script type='text/javascript'>//<![CDATA[ 
jQuery(window).load(function(){
jQuery(function () {
    jQuery('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    jQuery('.tree li.parent_li > span').on('click', function (e) {
        var children = jQuery(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            jQuery(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            jQuery(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});
});//]]>  

</script>

<%@car_makes.each do |car|%>
<div class="tree well">
    <ul>
        <li>
            <span><i class="icon-folder-open"></i><%= car.name%></span> <a href="">Edit</a> <a href="">Delete</a>
            
            
            
            <ul>
            	<% @carmodel = CarModel.find_all_by_car_make_id(car)%>
            	<%@carmodel.each do |car_model|%>
                <li>
                	<span><i class="icon-minus-sign"></i><%= car_model.name%></span> <a href="">Edit</a> <a href="">Delete</a>
                    <ul>
                    	<% @carbody = BodyIndex.find_all_by_car_model_id(car_model)%>
                    	<% @carbody.each do |body|%>
                        <li>
	                        <span><i class="icon-leaf"></i><%= body.bodyindex%></span> <a href="">Edit</a> <a href="">Delete</a>
                        </li>
                        <%end%>
                    </ul>
                </li>
                <%end%>
            </ul>
        </li>
       
    </ul>
</div>
<%end%>

