<%= form_for [:admin, @egift] ,:html => { :multipart => true } do |f| %>  
  <% if @egift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egift.errors.count, "error") %> prohibited this car model from being saved:</h2>

      <ul>
      <% @egift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit ,"Credit Points" %><br />
    <%= f.text_field :credit %>
  </div>

    <div class="field">
    <%= f.label :egift_category_id ,"Category" %><br />
    <%= f.collection_select :egift_category_id, EgiftCategory.all ,:id,:name %>
  </div>
  

  <div class="field">
    <%= f.label :image ,"Upload Photo" %><br />
    <%= f.file_field :image %>
  </div>
  (JPG or PNG)
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>