<%= form_for [@admincontact]  do |f| %>  
  <% if @admincontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admincontact.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @admincontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label "Car Make" %><br />
    <%= f.text_field :carmake %>
  </div>
  <div class="field">
    <%= f.label "Car Model" %><br />
    <%= f.text_field :carmodel %>
  </div>
  
  <div class="field">
    <%= f.label "Engine Displacement" %><br />
    <%= f.text_field :enginedis %>
  </div>

  <div class="field">
    <%= f.label "Please enter your email id" %><br />
    <%= f.text_field :emailid ,:value => current_user.email,:readonly => true %>
  </div>

  <div class="actions">
    <%= f.submit "admincontact" %>
  </div>
<% end %>