<h1>Listing abuse_categories</h1>
<%= link_to 'New Abuse category', new_abuse_category_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abuse_categories.each do |abuse_category| %>
  <tr>
    <td><%= abuse_category.name %></td>
    <td><%= link_to 'Show', abuse_category %></td>
    <td><%= link_to 'Edit', edit_abuse_category_path(abuse_category) %></td>
    <td><%= link_to 'Destroy', abuse_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


