<div class="container_20">

		
		<div class="middle">
		
		<div class="container_20" style="background:#333; margin-bottom:10px">
		    <%= render 'shared/carousel' %>	
		</div>
		
		
		
				<div class="container_20">
				
				
				<div class="grid_20 title">
		
	<div style="width:40%; float:left"><h4>Buy Credit</h4></div>
	
	<div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="<%= root_path %>" class="compose" title="Go to home page">Back</a></div>
  
  </div>
	
	</div>
		
		
		
		<div class="grid_20">
		
		<img src="/assets/steps.png" alt="" style="margin:10px 0">
	<div>Please choose one of following packages you want to buy</div>
	
	<%@credit_packages.each do |pack|%>
	<div class="credit_box">
	<div class="credit_row"><strong><%= pack.points_field%> Points</strong></div>
	<div class="credit_row2">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top" style="color:#FF0000"><%= pack.amount%></td>
          <td align="right" valign="top" style="color:#009933"><%= pack.points_field%> Credit </td>
        </tr>
      </table>
	</div>
	</div>
	<%end%>
	

		<div style="width:565px; float:left; margin:20px 0; text-align:right"><a href="<%=select_package_credits_path%>" class="submit_btn">Next</a></div>
		
		</div>
				
		</div>
		</div>
		

</div>




</div>


