<div class="container_20">

		
		<div class="middle">
		
		<div class="container_20" style="background:#333; margin-bottom:10px">
		
				    <%= render 'shared/carousel' %>	

		
		
		
		
		
		
		  </div>
		
		
				<div class="container_20">
				
				
				<div class="grid_20 title">
		
	             <div style="width:40%; float:left"><h4>Buy Credit</h4></div>

	             <div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="<%= root_path %>" class="compose" title="Go to home page">Back</a></div>
	            </div>
		
		
		
		<div class="grid_20">
		
		<img src="/assets/step2.png" alt="" style="margin:10px 0">
		
    
	<%@credit_packages.each do |credit|%>	
	<div class="message"> 
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td><strong><%= credit.points_field%> Points</strong></td>
		 	
		 	<%#raise session[:id].inspect %>
		    <td style="color:#FF0000"><%= credit.amount%></td>
		    <td><a href='<%= credit.link%>&custom1=<%= credit.custom_field%>&custom2=<%= session[:id] %>' title='Secure Online Payments by BlueSnap'><img src='https://sandbox.plimus.com/images/BuyNowBtns/b_buy_s.png' alt='Secure Online Payments and Credit Card Processing by BlueSnap' border='0' /></a></td>

		  </tr>
		</table>

	</div>
	<%end%>
	
	</div>
				
		
				
		
		</div>
		


  
		
		</div>
		

</div>




