<%= javascript_include_tag 'nicEdit' %>
<script type="text/javascript">
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<%= form_for(@user_blog, :html=>{:id => "user_blog"}) do |f| %>
   <% if @user_blog.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(@user_blog.errors.count, "error") %> prohibited this car make from being saved:</h2>

      <ul>
      <% @user_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>
  <%= javascript_include_tag "facebox.js" %>
  <%= stylesheet_link_tag "facebox.css" %>
 
  <script>
    
    jQuery.noConflict();

    jQuery(document).ready(function() {
    jQuery('#previes123').click(function() {
          jQuery.ajax({
          type: "POST",
          url: "<%= previews_logbooks_path %>",
          data: 'prevdata='+ encodeURIComponent(jQuery('#user_blog').find('.nicEdit-main').html()),
          });
        });
     });
  </script>
  
 
<div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    
     <%= render 'shared/carousel' %>
    
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4>Add Blog</h4>
  </div>
  
  </div>
  
  
  <div style="float:left; width:100%; margin:20px 0">
  
  <table width="100%" cellspacing="5" cellpadding="5" border="0">
  <tbody>
  <tr>
  <td>
    <%= f.collection_select :blog_id, Blog.all ,:id,:name, :prompt => 'Select Topic' %>
  </td>
  </tr>
  <tr>
    <td><span class="red">*</span>Title:</td>
  </tr>
  <tr>
    <td><%= f.text_field :title, :class=>"pe_tf"%></td>
  </tr>
  <tr>
    <td><span class="red">*</span> Post:</td>
  </tr>
  
  <tr>
    <td><%= f.text_area :body ,:maxlength => 2000,:class => "pe_tf" ,:style=> "width:960px",:rows=>"12"%></td>
  </tr>
  
  <%= f.hidden_field :user_id,:value => current_user.id %>
  
  <tr>
    <td>
      <%= f.submit "Publish", :name => "publish" , :class=>"submit_btn" %>
      <%= f.submit "Save as Draft", :name => "draft",:class=>"submit_btn" %>
      <%= link_to "Preview", "javascript:void(0);", :id=>"previes123", :class=>"submit_btn", :style=>"position: relative; padding: 9px 10px; top: -2px;"%>
      
    </td>
  </tr>
</tbody></table>
  
  </div>
  
  
  
    </div>
  </div>
</div>

<%end%>