<div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    <%= render 'shared/carousel' %>
        <script type="text/javascript">
        jQuery(document).ready(function(){
          
          jQuery('.vticker').easyTicker();
        });
        </script>
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left"><h4>Blogs</h4></div>
  <div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="<%=new_user_blog_path%>" class="compose">Add New Blogs +</a></div>
  
  
  
    
    
    </div>
    
    <div class="grid_4">
    
    
    
      <ul class="message_menu">
    <li class="selected"><a href="#">All Blogs</a></li>
    <li><%= link_to "My Blogs", user_blogs_path %></li>
    <li><a href="#">Friend's Blog</a></li>
    </ul>
    
    
    <a href="<%=user_blogs_path%>" class="bluelink">Categories</a>
    
    
    <ul class="message_menu">
      <% @blogs.each do |blog|%>
    <li ><a href="#"><%=blog.name rescue nil%></a></li>
    <%end%>
    </ul>
    
    
      </div>
    
    <div class="grid_11">
    
    <div><input name="" type="text" class="pe_tf message_search"></div>
    
    
    <% @user_blogs.each do |user_blog| %>
    
    <div class="message"> 
    
    
    <img src="/assets/thumb_profile.jpg" alt="">
    
    <div class="mail_content" style="width:442px">
    <div><a href="<%= user_blog_path(user_blog)%>" class="bluelink bold"><%= user_blog.title rescue nil%></a></div>
    <div style="margin:0 0 5px 0">By <a href="<%= root_path%>" class="bluelink"><%=user_blog.user.first_name rescue nil%></a></div>
    <div><%=truncate(user_blog.body.html_safe, :length => 300).html_safe rescue nil%></div>
    </div>
    

    <ul class="action">
    <li><a href="<%=user_blog_path(user_blog)%>">Comment</a></li>
    <% if user_blog.created_at > Time.now.beginning_of_day %> 
    <li><%="#{time_ago_in_words(user_blog.created_at)} ago"%>
           <% else %>
           <%= user_blog.created_at.strftime("%b %d, %Y") rescue nil %></li>
           <%end%>
    
    </ul>

    </div>
    <%end%>
  <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
 
  <%= will_paginate @user_blogs %>
 </ul>
    
    
    
    </div>
    
    
    
    <div class="grid_5">
    
    
    <div class="black_heading" style="margin-top:10px">Last 100 Comments </div>
    
  <div class="pe_box">
     
    <div class="vticker" style="height:300px">

    <ul style="margin:0; padding:0; width:100%">
      <% @blog_comments.each do |blog_comment|%>
      <li>
       
      <div class="blog_div" style="width:100%">
    
    <div class="thumb"><img alt="" src="/assets/thumb_car.jpg"></div>
    
    <div class="blog_right">
    <a class="bluelink bold" href="#"><%= blog_comment.user_blog.user.first_name rescue nil %></a><br>
    <%= truncate(blog_comment.body, :length => 20) rescue nil%> <br> 
    <%= blog_comment.created_at.strftime("%b %d, %Y") rescue nil %></div>
    
    </div>
     
      </li>
      
     <%end%>
    </ul>
    
  </div>

</div>

    
    </div>
        
    
        
    
    </div>
    


  
    
    </div>
    

</div>




