<h1>UserBlogs</h1>


<table>
<%= link_to "New Blog", new_user_blog_path %><br/><br/>

 <td>
  <% @user_blogs.each do |user_blog| %>
  <li><%= link_to user_blog.blog.name, user_blog_path(user_blog) rescue nil %><br/>   	
  by <%=link_to user_blog.user.first_name , root_path%><br/>
  <%= truncate(user_blog.body, :length => 500).html_safe  rescue nil%></li><br/>
 <hr/>
    <%= link_to "Comment",user_blog_path(user_blog) %>
           &nbsp;<% if user_blog.created_at > Time.now.beginning_of_day %> 
           <%="#{time_ago_in_words(user_blog.created_at)} ago"%>
           <% else %>
           <%= user_blog.created_at.strftime("%b %d, %Y") rescue nil %>
           <% end %>
   <hr/>
   <% end %>
 </td>



</table>
