<div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    <%= render 'shared/carousel' %>
        <script type="text/javascript">
        jQuery(document).ready(function(){
          
          jQuery('.vticker').easyTicker();
        });
        </script>
        
        <div class="grid_20 title"  style="margin-top:10px">
    
  <div style="width:40%; float:left"><h4>Blogs</h4></div>
  <div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="<%=new_user_blog_path%>" class="compose">Add New Blogs +</a></div>
  
  
  
    
    
    </div>
    
    <div class="grid_4">
    
    
    
      <ul class="message_menu">
    <li class="selected"><%= link_to "All Blogs", all_blogs_user_blogs_path %></li>
    <li><%= link_to "My Blogs", user_blogs_path %></li>
    <li><a href="<%= myfriend_blog_path %>">Friend's Blog</a></li>
    </ul>
    
    
    <a href="<%=user_blogs_path%>" class="bluelink">Categories</a>
    
    
    <ul class="message_menu">
     
      
      <% @blogs.each do |blog|%>
    <li ><%=link_to blog.name, search_blog_blogs_path(:name => blog.name ) rescue nil%></li>
    <%end%>
    </ul>
    
    
      </div>
    
    <div class="grid_11">
    
    <div><br/><%= form_tag blogsearch_path, :method=> :get do %>
          <%= text_field_tag :q, nil,:class=>"pe_tf message_search"%>
          <%= submit_tag "Search",:class=>"submit_btn2"%>
          <% end %>
    </div>
    <% if @friends.each do |fri|%>
     <%if fri.user_blogs.empty? %>
     <%= "No blog found"%>
     <%else%>
    <% fri.user_blogs.each do |user_blog| %>
    
    <div class="message"> 
      <%#= raise current_user.pic.blank?.inspect%>
    <%if User.find_by_id(user_blog.user_id).pic.blank? %>
    
    <div class="thumb"><a href="#"><img src="assets/thumb_profile.jpg" alt=""></div>
    <%else%>
    <div class="thumb"><%=link_to image_tag(User.find_by_id(user_blog.user_id).pic.url(:thumb) ,:width => 50, :height => 50) %></div>
    <% end %>
    
    
    
    <div class="mail_content" style="width:442px">
    <div><a href="<%= user_blog_path(user_blog)%>" class="bluelink bold"><%= user_blog.title rescue nil%></a></div>
    <div style="margin:0 0 5px 0">By <a href="<%= root_path%>" class="bluelink"><%=user_blog.user.first_name rescue nil%></a></div>
    <div><%=truncate(user_blog.body.html_safe, :length => 300).html_safe rescue nil%></div>
    </div>
    

    <ul class="action">
    <li><a href="<%=user_blog_path(user_blog)%>">Comment</a></li>
    <% if user_blog.created_at > Time.now.beginning_of_day %> 
    <li><%="#{time_ago_in_words(user_blog.created_at)} ago"%>
           <% else %>
           <%= user_blog.created_at.strftime("%b %d, %Y") rescue nil %></li>
           <%end%>
    
    </ul>

    </div>
    <%end%>
      <%end%>
        <%end%>
         <%end%>
  <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
 
   <%#= will_paginate @friends %>
  </ul>
    
    
    
    </div>
    
    
    
    <div class="grid_5">
    
    
    <div class="black_heading" style="margin-top:10px">Last 100 Comments </div>
    
  <div class="pe_box">
     
    <div class="vticker" style="height:300px">

    <ul style="margin:0; padding:0; width:100%">
      <% @blog_comments.each do |blog_comment|%>
      <li>
       
      <div class="blog_div" style="width:100%">
    
     <%if User.find_by_id(blog_comment.user_id).pic.blank? %>
      
      <div class="thumb"><a href="#"><img src="/assets/thumb_profile.jpg" alt=""></div>
    <%else%>
      <div class="thumb"><%=link_to image_tag(User.find_by_id(blog_comment.user_id).pic.url(:thumb) ,:width => 50, :height => 40) %></div>
    <% end %>
    
    <div class="blog_right">
    <a class="bluelink bold" href="#"><%= blog_comment.user_blog.user.first_name rescue nil %></a><br>
    <%= truncate(blog_comment.body, :length => 20) rescue nil%> <br> 
    <%= blog_comment.created_at.strftime("%b %d, %Y") rescue nil %></div>
    
    </div>
     
      </li>
      
     <%end%>
    </ul>
    
  </div>

</div>

    
    </div>
        
    
        
    
    </div>
    


  
    
    </div>
    

</div>




