<p><%= notice %></p>
<% if current_user.id == @user_blog.user_id %>
<%= link_to 'Back', user_blogs_path %> | <%= link_to 'Edit', edit_user_blog_path %> | 
<%= link_to 'Destroy',user_blog_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
<% end %>|
<%= link_to "Favourite",{:controller => :favourites, :action => :user_blog, :user_id => current_user.id }%>

<p>
<%= link_to (image_tag "like.jpg") ,like_blog_user_blogs_path(:id => @user_blog.id),:method => "post",:remote => true,:id => "like_blog" %><span id="like_count"><%= @counts %></span>
</p>
 
 written by : <%= @user.first_name %> 
<p>
  <b>Blog:</b>
  <%= @user_blog.blog.name%>
</p>

<p>
  <b>Blog Description:</b>
  <%= @user_blog.body%>
</p>

<h3>Comments</h3>
<% @user_blog.blog_comments.each do |user_blog| %>
  <div>
    <strong><%= user_blog.body %></strong>
  </div>
<% end %>
<br/>
<%= render 'blog_comments/form' %>


