<div class="container_20">

    
    <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    <%= render 'shared/carousel' %>
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4> Blog Show Page </h4>
  </div>
  

    
    </div>
    
    
    
    <div class="grid_20">
    
  <h2><%= link_to @user_blog.title , user_blog_path(@user_blog)  rescue nil%></h2>

 
  by <%=link_to @user_blog.user.first_name  , root_path rescue nil%><br/><br/>

   <td>
  <% if current_user.id == @user_blog.user_id %>
  
    <%= link_to 'Edit', edit_user_blog_path %>
    <%= link_to 'Destroy',user_blog_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
  
  <%end%>
  <%= link_to "Favourite",{:controller => :favourites, :action => :user_blog, :user_id => current_user.id }%><br/>

  <p>
    <%= @user_blog.body.html_safe rescue nil%>
  </p>
  <tr>
   
 <%= link_to (image_tag "like.jpg") ,like_blog_user_blogs_path(:id => @user_blog.id),:method => "post",:remote => true,:id => "like_blog" %><span id="like_count"><%= @counts %></span>&nbsp;&nbsp;&nbsp;<%= link_to "Comment",user_blog_path(@user_blog) %>&nbsp;&nbsp;&nbsp;<%= @user_blog.created_at.strftime("%b %d, %Y") rescue nil%>
 
 <br/><br/><hr/>

<h4>Comments</h4>
<div class="row">
<% @user_blog.blog_comments.each do |user_blog| %>
 <% unless user_blog.id.nil? %>
  <div>
    
    <strong><%= user_blog.body.to_s.html_safe rescue nil%> 
      <% if user_blog.user_id == current_user.id %>
      <%= link_to 'Destroy', user_blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </strong>
    
  </div>
<% end %>
<%end%>
<%= render 'blog_comments/form' %>
<br/>

</div>
    </div>
  </div>
  </div>




