<div class="container_20">

    
    <div class="middle">
    
    <div class="container_20" style="background:#333; margin-bottom:10px">
    
    <%= render 'shared/carousel' %>
    
        <div class="container_20">
        
        
        <div class="grid_20 title">
    
  <div style="width:40%; float:left">
    <h4> Blog Show Page </h4>
  </div>
  

    
    </div>
    
    
    
    <div class="grid_20">
    
  <h2><a class="bluelink" href="<%= user_blog_path(@user_blog) %>"><%= @user_blog.title rescue nil%></h2>
 
  by <a class="bluelink" href="<%= root_path %>"><%= @user_blog.user.first_name rescue nil%></a><br/><br/>
     
   <td>
 

  <p>
    <%= @user_blog.body.html_safe rescue nil%>
  </p>
  <tr>
   
 <%= link_to (image_tag "like.jpg") ,like_blog_user_blogs_path(:id => @user_blog.id),:method => "post",:remote => true,:id => "like_blog" %><span id="like_count"><%= @counts %></span>&nbsp;&nbsp;&nbsp;
 <% if current_user.id == @user_blog.user_id %>
  
    <%= link_to (image_tag "image.jpg" ,:height => "20", :width => "20"), edit_user_blog_path %>&nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag "delete.png"),user_blog_path ,:method => :delete , :data=> { :confirm=> 'Are you sure?' } %>
  
  <%end%>&nbsp;&nbsp;&nbsp;
  <%= link_to (image_tag "star2.png"),{:controller => :favourites, :action => :user_blog, :user_id => current_user.id }%>
 
 <div style="float:right"><%= @user_blog.created_at.strftime("%b %d, %Y") rescue nil%></div>
 
 <br/><br/><hr/>

<h4>Comments</h4>

<% @user_blog.blog_comments.each do |user_blog| %>
    <%#raise User.find_by_id(user_blog.user_id).pic.url(:thumb).inspect %>
  <% unless user_blog.id.nil? %>
<div class="comment_content">
  <%#= image_tag (current_user.pic.url(:thumb)),:height => "77",:width => "77",:style=>"float:left;"%>
        <img alt="" src="<%= User.find_by_id(user_blog.user_id).pic.url(:thumb)%>" style="float:left" height="40" width="50">
          <div class="comment_right">
            <%#raise comment_logbook.user.id.inspect%>
            <% if user_blog.user_id == current_user.id  %>
             <div style="float:right" ><%= link_to (image_tag "delete.png"), user_blog, method: :delete, data: { confirm: 'Are you sure?' }%></div>
             <%end%>
            <a href="#" class="close"></a>
            <div style="margin:0 0 5px 0">By <a class="bluelink" href="<%= user_path(user_blog.user.id)%>" ><%=user_blog.user.first_name%></a></div>
            <div><%= user_blog.body.to_s.html_safe rescue nil%>
            </div>
            
            <ul class="action">
            <% if user_blog.created_at > Time.now.beginning_of_day %>
               <%="#{time_ago_in_words(user_blog.created_at)} ago"%>
               <% else %>
              <!-- <li><a href="#">Like</a></li> -->
              <!-- <li><a href="#">Comment</a></li> -->
              <li><%= user_blog.created_at.strftime("%b %d, %Y") %></li>
            <% end %>
          </ul>
    
          </div>
          
          
        </div>
         <%end%>
          <%end%>

         <%= render 'blog_comments/form' %>



</div>
    </div>
  </div>
  </div>




