

<%= form_for(@comment_logbook) do |f| %>
  <% if @comment_logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_logbook.errors.count, "error") %> prohibited this comment_logbook from being saved:</h2>

      <ul>
      <% @comment_logbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <textarea class="comment_tf2" rows="4" name="comment_logbook[body]"></textarea>
  </div>
  <%= f.hidden_field :logbook_id %>
  <%= f.hidden_field :user_id,:value => current_user.id %> 
  <%= f.hidden_field :logbook_user_id,:value => @logbook.user_id %>
  <div style="float:right; margin:10px 0; text-align:left; width:100%">
          <input type="submit" value="Done" style="margin-left:0px" class="submit_btn" name="button">
  </div>
<% end %>
