<p id="notice"><%= notice %></p>

<p>
  <b>Logbook:</b>
  <%= @comment_logbook.logbook_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment_logbook.body %>
</p>

<p>
  <b>User:</b>
  <%= @comment_logbook.user_id %>
</p>


<%= link_to 'Edit', edit_comment_logbook_path(@comment_logbook) %> |
<%= link_to 'Back', comment_logbooks_path %>
