<%= link_to 'New Body Index', new_admin_body_index_path %>
<br /><br />
<h1> Body Indices</h1>

<table class="admintable">
 <tr class="admintablehd">
 	<td width="25%">Car Model</td>
    <td width="25%">Body Index</td>
    <td width="25%">Year</td>
    <td colspan=2 style="text-align: center !important;">Actions</td>
</tr>


<% @body_indices.each do |body_index|%>
  <tr>
  	<td><%= body_index.car_model.name rescue nil %></td>
    <td><%= body_index.bodyindex rescue nil  %></td>
    <td><%= body_index.manufacturing_year rescue nil  %></td>
    <td style="text-align: center !important;" ><%= link_to 'Edit', edit_admin_body_index_path(body_index) %></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',admin_body_index_path(body_index) ,:method => :delete , :data=>{ :confirm=> 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
