
<p><%= notice %></p>

<p>
  <b>Points to be added:</b>
  <%= @credit_package.points_field %>
</p>

<p>
  <b>Amount of credit:</b>
  <%= @credit_package.amount %>
</p>

<p>
  <b>Custom Id :</b>
  <%= @credit_package.custom_field %>
</p>

<p>
  <b>Link of Product:</b>
  <%= @credit_package.link %>
</p>


<%#= link_to 'Back', admincontacts_path %>
