
<%= form_for(@blog_comment) do |f| %>
  <% if @blog_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>

      <ul>
      <% @blog_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment_div">
      
      <div class="comment_content">
         <%#raise current_user.pic.url(:thumb).blank?.inspect%>

        <% unless current_user.pic?%>


        <img alt="" src="/assets/thumb_profile.jpg" style="float:left" style="float:left" height="40" width="50">
          <%else%>
        <img alt="" src="<%= current_user.pic.url(:thumb)%>" style="float:left" style="float:left" height="40" width="50">
        <%end%>
          <div class="comment_right">
             <textarea name="blog_comment[body]" type="text" class="pe_tf" style="width:888px"></textarea>
            <!-- <div><input name="comment_logbook[body]" type="text" class="pe_tf" style="width:888px"></div> -->
            <div style="margin:10px 0; float:right"><input type="submit" value="Comment" style="margin-left:0px" class="submit_btn" name="button">
            </div>
            
            <%= f.hidden_field :user_blog_id %>
            <%= f.hidden_field :user_id,:value => current_user.id %>
            <%= f.hidden_field :user_blog_user_id,:value => @user_blog.user_id %>
    
          </div>
          
          
        </div>

  <!-- <div class="field">
    <textarea class="comment_tf2" rows="4" name="blog_comment[body]"></textarea>
  </div>
  <%= f.hidden_field :user_blog_id %>
  <%= f.hidden_field :user_id,:value => current_user.id %>
  <div style="float:right; margin:10px 0; text-align:left; width:100%">
          <input type="submit" value="Done" style="margin-left:0px" class="submit_btn" name="button">
  </div> -->
<% end %>



