
<div class="middle">
      <div class="container_20" style="background:#333; margin-bottom:10px">
  <%= render 'shared/carousel' %>   
  </div>
    <div class="container_20">
     <div class="grid_4">
    
    
    
      <ul class="message_menu">
    <li><%= link_to "Public", my_gifts_egifts_path %></li>
    <li><%= link_to "Personal", personal_egifts_path %></li>
    <li class="selected" ><%= link_to "Anonymous", anonymous_egifts_path %></li>
    </ul>
    
    
      </div>
    <div class="grid_16">
  <h4>Anonymous</h4>

     <% @anon.each do |g|%>

  <div class="message">
 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" >Anonymous</td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
    </tr>
    <tr>
    <td align="left" valign="top"><strong>Car</strong></td>
    <td align="left" valign="top"><%= g.carprofile.car_model.name %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url(:thumb) ,:class =>"giftimage" %> </td>
    </tr>
</table>

  
  </div>
  <% end %>

</div>
</div>
</div>