
<div class="middle">
      <div class="container_20" style="background:#333; margin-bottom:10px">
  <%#= render 'shared/carousel' %>   
  </div>
    <div class="container_20">
        

    
    <div class="grid_16">
    
   <h4>Public</h4>
    <% @public.each do |g|%>

  <div class="message">

 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" ><%= g.sender.first_name %> <%= g.sender.last_name %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
  </tr>
<tr>
    <td align="left" valign="top"><strong>Car</strong></td>
    <td align="left" valign="top"><%= g.carprofile.car_model.name %></td>
    </tr>
  
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url(:thumb) ,:class =>"giftimage" %> </td>
    </tr>

   <tr>
    <td align="left" valign="top"><strong></strong></td>
    <td align="left" valign="top">
    <%= link_to 'Accept',  egift_send_gift_path(g,g),method: :put %>
    <%= link_to 'Reject',  egift_send_gift_path(g,g), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    </tr>
</table>

  
  </div>
  <% end %>

 
  </div>

    <div class="grid_16">
<h4>Personal</h4>

     <% @personal.each do |g|%>

  <div class="message">
 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <% if current_user == g.sender || current_user == g.receiver %>
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" ><%= g.sender.first_name %> <%= g.sender.last_name %></td>
   </tr>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
    </tr>
   <% end %>
    <tr>
    <td align="left" valign="top"><strong>Car</strong></td>
    <td align="left" valign="top"><%= g.carprofile.car_model.name %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url(:thumb) ,:class =>"giftimage" %> </td>
    </tr>
    <tr>
    <td align="left" valign="top"><strong></strong></td>
    <td align="left" valign="top">
      <%= link_to 'Accept',  egift_send_gift_path(g,g),method: :put %>
    <%= link_to 'Reject',  egift_send_gift_path(g,g), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>

  
  </div>
  <% end %>

  
  </div>

      <div class="grid_16">
  <h4>Anonymous</h4>

     <% @anon.each do |g|%>

  <div class="message">
 <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top" width="150px"><strong>Sender</strong></td>
    <td align="left" valign="top" >Anonymous</td>
    </tr>
  <% if current_user == g.sender || current_user == g.receiver %>
  <tr>
    <td align="left" valign="top"><strong>Message</strong></td>
    <td align="left" valign="top"><%= g.message %></td>
   </tr>
  <% end %>
    <tr>
    <td align="left" valign="top"><strong>Car</strong></td>
    <td align="left" valign="top"><%= g.carprofile.car_model.name %></td>
    </tr>
  <tr>
    <td align="left" valign="top"><strong>Gift</strong></td>
    <td align="left" valign="top"><%= image_tag g.egift.image.url(:thumb) ,:class =>"giftimage" %> </td>
    </tr>
    <tr>
    <td align="left" valign="top"><strong></strong></td>
    <td align="left" valign="top">
      <%= link_to 'Accept',  egift_send_gift_path(g,g),method: :put %>
    <%= link_to 'Reject',  egift_send_gift_path(g,g), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>

  
  </div>
  <% end %>

</div>

</div>
</div>

