 <%= stylesheet_link_tag "jquery.fancybox" %>

 <%= javascript_include_tag "jquery.fancybox.pack" %>
 <script type="text/javascript">
 jQuery.noConflict();
		jQuery(document).ready(function() {
		<% @egifts.each do |egift| %>
			jQuery("#various<%= egift.id%>").fancybox({
				'titlePosition'		: 'inside',
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});
			<% end %>
			

					});
	</script>


<div class="middle">

				<div class="container_20">
				
				
				<div class="grid_20 title">
		
	<h4>Send a Gift</h4>
	
	
	
	
		
		
		</div>
		
		
		<div class="grid_20">
		
	
		<div class="clearfix" id="w">
    <ul id="sidemenu">
      <li style="border-top:1px solid #E7E7E7">
        <a class="open" href="#home-content">All Gifts</a>
      </li>
      <% @category.each do |category| %>
      <li>
        <a href="#about-content<%= category.id %>"><%= category.name %></a>
      </li>
      <% end %>
    </ul>
    
    <div id="content">
        <div class="contentblock" id="home-content">
		
		
          <div id="mainwrapper">
		<% @egifts.each do |egift| %>
		<div id="box-1" class="box1">
			<a href="#inline<%= egift.id %>" id="various<%= egift.id %>">
			
			 <%= image_tag egift.image.url %></a>
				<span class="caption simple-caption">
					<p><%#= link_to "Send" ,new_send_gift_path(egift,:carprofile_id => params[:carprofile_id]) %></p>
				</span>
		</div>
			<div style="display: none ">
		
		<div id="inline<%= egift.id %>" style="width:650px; height:auto ; overflow:auto; text-align:left">
		<div>

		<div class="fancybox_title">Send a Gift</div>

		<div  style="padding:50px 10px">
				<%= render 'form' ,:egift => egift %>
		

		</div>
     </div>
   </div>
</div>

		<% end %>
		
		
		
	</div>
     </div>
        
         <% @category.each do |c| %>
        <div class="contentblock hidden" id="about-content<%= c.id %>">
         <div id="mainwrapper">
         	<% c.egifts.each do |g| %>
         			<div id="box-1" class="box1">
         	<a href="#inline<%= g.id %>" id="various<%= g.id %>">

			<%= image_tag g.image.url %></a>
				<span class="caption simple-caption">
					<p><%#= link_to "Send" ,new_send_gift_path(g, :carprofile_id => params[:carprofile_id]) %></p>
				</span>
		  </div>

		  	<div style="display: none  ">
		<%= g.id %>
		<div id="inline<%= g.id %>" style="width:650px; height:auto ; overflow:auto; text-align:left">
		<div>

		<div class="fancybox_title">Send a Gift</div>

		<div  style="padding:50px 10px">
				<%= render 'form' ,:egift => g %>
		

		</div>
     </div>
   </div>
</div>
         	<%end %>
	
		
	


		
	</div>
      
        </div>
<% end %>


    </div>
  </div>
	
	
	
	
		
		
		</div>
		
		
		
				
		
				
		
		</div>

<script type="text/javascript">
jQuery(function(){
  jQuery('#sidemenu a').on('click', function(e){
    e.preventDefault();

    if(jQuery(this).hasClass('open')) {
      // do nothing because the link is already open
    } else {
      var oldcontent = jQuery('#sidemenu a.open').attr('href');
      var newcontent = jQuery(this).attr('href');
      
      jQuery(oldcontent).fadeOut('fast', function(){
        jQuery(newcontent).fadeIn().removeClass('hidden');
        jQuery(oldcontent).addClass('hidden');
      });
      
     
      jQuery('#sidemenu a').removeClass('open');
      jQuery(this).addClass('open');
    }
  });
});
</script>