<h1>Listing Gifts</h1>


<p>
  <b>Received Gifts :</b><br/>
  <% @public.each do |g|%>
  Sender :<%= g.sender.email %><br/>
  Message :<%= g.message %><br/>
  Gift : <%= image_tag g.egift.image.url %><br/>
  <% end %>
  
<hr/>
  <% @anon.each do |g|%>
    Sender : Anonymous <br/>
    <% if current_user.id == g.receiver.id %>
     Message :<%= g.message %><br/>
    <% end %>
  Gift : <%= image_tag g.egift.image.url %><br/>
  <% end %>

  <hr/>
  <% @personal.each do |g|%>
    Sender : <%= g.sender.email %> <br/>
    <% if current_user.id == g.receiver.id %>
     Message :<%= g.message %><br/>
    <% end %>
  Gift : <%= image_tag g.egift.image.url %><br/>
  <% end %>

</p>

<br />

