<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %></title>
  <meta name="keyword" content="<%= @meta_keyword %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

	<a href="/"><strong>Home</strong></a>
    <a href="/pages/1"><strong>About</strong></a>
    <a href="/contact"><strong>Contact Us</strong></a>

<%= yield %>

</body>
</html>
