<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %></title>
  <meta name="keyword" content="<%= @meta_keyword %>" />
  <meta name="description" content="<%= @meta_description %>" />

 <%= stylesheet_link_tag  "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>


  <%= csrf_meta_tags %>
  
</head>
<body>

	<%= flash[:alert] %>
    
<%= flash[:notice] %>
<%= flash[:error] %>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Settings",  edit_user_registration_path %>

    <%= link_to "Earn credits(#{current_user.credit.to_i})", earn_credits_credits_path %>
    <%= link_to "Carprofiles" , carprofiles_path %>

     <%= link_to "Earn credits(#{current_user.credit.to_i})", earn_credits_credits_path %>

    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<br/>

	<a href="/"><strong>Home</strong></a>
    <a href="/pages/1"><strong>About</strong></a>
    <a href="/contact"><strong>Contact Us</strong></a>

 <%= form_tag search_path, :method=> :get do %>
  <%= text_field_tag :q, nil %>
    <%= submit_tag "Search"%>
<% end %>




<%= yield %>






</body>
</html>
